@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:40px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
$primary_width:750px;
$sidebar_width: 270px; 
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width: 1090px;
	overflow: hidden;
}

#wrapper img {
    max-width: 100%;
}

.contain{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 40px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln18em{ line-height : 1.8em; }
.ln15em{ line-height : 1.5em; }

img{
    border: 0;
    height: auto;
    vertical-align: middle;
}


/* LAYOUT TOP */
#top{	
	background-color: #F9F9F9;
	border-bottom: 1px solid #F0F0F0;
	.top-text{
		float: left;
		line-height: 20px;
		font-size: 11px;
	}		
	.top-navi{
		line-height: 20px;
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		li{			
			display: inline-block;
			padding: 0px 20px;					
			border-right: 1px solid #E3E3E3;
			a{		
				color: $text_color;
				font-size: 11px;				
				&:hover{					
					color: $hover_color;
				}
			}
			a.top-navi-current{				
				color: $main_color;
			}			
		}	
		li:first-child{border-left: 1px solid #E3E3E3;}
	}
}


header{	
	.header-content{		
		.logo{
			padding: 32px 0;
			float : left;
		}
		.header-tel{
			padding: 31px 0 23px 69px;
			float: left;
		}
		.header-contact{
			padding: 31px 0 33px 46px;
			float: left;
		}	
		.header-estimate{
			padding: 31px 0 33px 25px;
			float: left;
		}	
	}
}

nav{
	background: $bg_color url("../img/common/mainnavi_bg.jpg") repeat-x 0 0 scroll;	
	height: 60px;
	.mainnavi{
		list-style: none;		
		padding : 0;
		li{
			float : left;			
			border-left: 1px solid #E7E7E7;
			background-color: $bg_color;
			a{
				display: block;
				text-align: center;
				padding: 16px 0;
				color : $text_color;
				font:{
					size: 16px;
					weight: bold;
				}
			}			    
		}
		%ahover{
			padding: 16px 0;
			height: 25px;
			text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff
		}
		li:nth-child(1){
			border-top: 3px solid #F12121;
			width: 176px;
			a:hover{
				background: transparent url("../img/common/top_navi1On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}
		li:nth-child(2){
			border-top: 3px solid #FF7F00;
			width: 176px;
			a:hover{
				background: transparent url("../img/common/top_navi2On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}
		li:nth-child(3){
			border-top: 3px solid #D9AC6E;
			width: 176px;
			a:hover{
				background: transparent url("../img/common/top_navi3On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}
		li:nth-child(4){
			border-top: 3px solid #79D159;
			width: 176px;
			a:hover{
				background: transparent url("../img/common/top_navi4On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}
		li:nth-child(5){
			border-top: 3px solid #56BDCF;
			width: 175px;
			a:hover{
				background: transparent url("../img/common/top_navi5On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}
		li:nth-child(6){
			border-top: 3px solid #6982D4;
			width: 174px;
			a:hover{
				background: transparent url("../img/common/top_navi6On.jpg") no-repeat 0 0 scroll;
				@extend %ahover;
			}
		}		
		li:last-child{border-right: 1px solid #E7E7E7;}
	}
}


/*-- breadcrumb --*/
#top-breadcrumb{	
	background: transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;	
	line-height: 30px;	
	color: $text_color;
	font-size: 11px;	
	.home{
		color: $text_color;
	}
	a{color: $hover_color;}
	a:hover{
		color: $hover_color;		
	}
	
}

/*======= content =====*/
#content{
	background: transparent url("../img/common/content_bg.png") no-repeat top center scroll;	
	padding : 43px 0 50px;
	
	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}
		
	.message-200{		
		.image{ width : 200px; }
		.text{ 
			width : $primary_width - 200px - 20px; 
			span{font-weight: bold;}
		}
	}

	.message-308{		
		.image{ width : 308px; }
		.text{ width : $primary_width - 308px - 25px; }
	}
		
	.message-left365{	
		margin-bottom: 20px;
		.image{ width : 365px; }
		.text{ 
			width : $primary_width - 365px - 15px; 
			margin-left: 15px !important;
		}
	}
	.message-right365{
		margin-bottom: 40px;
		.image{ width : 365px; }
		.text{ 
			width : $primary_width - 365px - 15px; 
			margin-right: 15px !important;
		}
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
			
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-group.message-col365{
		.message-col{
			width: 365px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
		.message-row:first-child{
			margin-top: 30px !important;
		}
	}	
	
	
	.message-group.message-col238{
		.message-col{
			position: relative;
			width: 238px;	
			margin-left: 18px;
			.title{
				background: transparent url("../img/content/guide_content_title.png") no-repeat 0 0 scroll;	
				height: 68px;
				color: white;
				text-align: center;				
				padding-top: 11px;				
				line-height: 1.2em;
				font:{
					size: 20px;
					weight: bold;
				}
			}
			.image{
				position: absolute;
				z-index: -999;
				top: 70px;
			}
			.content{
				margin-top: 91px;				
				border: 3px solid #E5E5E5;				
				padding: 15px 15px 20px 15px;
				.text{height: 290px;}
				.button{padding-top: 15px;}
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-title, .h3-title{
		background: transparent url("../img/common/h2_title.png") no-repeat 0 0 scroll;			
		line-height: 50px;
		margin-bottom: 25px;
		padding-left: 37px;		
		font:{
			size: 22px;
			weight: bold;			
		}		
	}
	
	%subpages-title{	
		position: relative;
		height: 170px;
		margin-bottom: 40px;			
		.text1{	
			position: absolute;
			color: $sub_color2;
			font:{
				size: 32px;
				weight: bold;
			}
		}	
		.text2{
			position: absolute;
			text-transform: uppercase;
			font-size: 14px;
		}
	}	
	
	.guide-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/guide_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: #FD9C55;
			top: 98px;
			left: 40px;
		}
	}
	
	.about-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/about_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: #4D8A87;
			top: 98px;
			left: 40px;
		}
	}
	
	.faq-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/faq_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: #FE994E;
			top: 98px;
			left: 40px;
		}
	}
	
	.company-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/company_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}

	.draft-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/draft_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}
	
	.estimate-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/estimate_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}
	
	.privacy-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/privacy_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}

	.flow-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/flow_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}
	
	.price-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/price_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}
	
	.work-subpages-title{	
		@extend %subpages-title;
		margin-bottom: 0 !important;
		background: transparent url("../img/content/work_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 63px;
			left: 40px;
		}
		.text2{
			color: $sub_color2;
			top: 98px;
			left: 40px;
		}
	}	
	
	.support-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/support_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 26px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #0063C5;
			top: 116px;
			left: 40px;
		}
	}	
	
	.pen-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/pen_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 26px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #F76D6D;
			top: 116px;
			left: 40px;
		}
	}
	
	.mirror-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/mirror_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 26px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #F76C6C;
			top: 116px;
			left: 40px;
		}
	}
	
	.bag-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/bag_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 26px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #F76C6C;
			top: 116px;
			left: 40px;
		}
	}	
	
	.towel-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/towel_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 20px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #F76C6C;
			top: 110px;
			left: 40px;
		}
	}
	
	.othergoods-subpages-title{	
		@extend %subpages-title;
		background: transparent url("../img/content/othergoods_top_img.jpg") no-repeat 0 0 scroll;			
		.text1{
			top: 26px;
			left: 40px;
			line-height: 1.4em;
		}
		.text2{
			color: #F76C6C;
			top: 116px;
			left: 40px;
		}
	}	
	
	
	/* sideMenu.css */	
	#side-menu-content{		
		.side-mnu-human{
			text-align: center;
			margin-top: -25px;
		}
	}
	.side-mnu-title{
		background: transparent url("../img/common/side_mnu_title.jpg") no-repeat 0 0 scroll;			
		line-height: 47px;
		color: $sub_color2;
		padding-left: 55px;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.sideMenu{
		width: 260px;
		border: 3px solid #F12222;	
		border-top: none;
		margin : 0px;
		padding : 0px;
		list-style: none; 
	}
	.sideMenu li{
		border-bottom: 1px solid #E8E8E8;
		background-image: url("../img/common/side_icon.png");
		background-repeat:no-repeat;
		background-position: 90% 50%;	
	}
	.sideNav li:last-child{border-bottom: none;}
	.sideMenu li a{			
		display: block;
		line-height: 45px;		
		color: $text_color;
		font:{
			size: 16px;
			weight: bold;				
		}	
		span{padding: 0 5px;}
	}
	.sideMenu li a.sideMenu-current{color: $main_color;}	
	.sideMenu li a:hover{color: $hover_color;}		
	/* end sideMenu */	
	
	
	/* sideNav.css */	
	.side-nav-title{
		background: transparent url("../img/common/side_nav_title.jpg") no-repeat 0 0 scroll;			
		line-height: 47px;
		color: $sub_color2;
		padding-left: 55px;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.sideNav{
		width: 260px;
		border: 3px solid #F12222;	
		border-top: none;
		margin : 0px;
		padding : 0px;
		list-style: none; 
	}
	.sideNav li{
		border-bottom: 1px solid #E8E8E8;
		background-image: url("../img/common/side_icon.png");
		background-repeat:no-repeat;
		background-position: 90% 50%;	
	}
	.sideNav li:last-child{border-bottom: none;}
	.sideNav li a{						
		display: block;
		padding: 15px 0 15px 53px;			
		color: $text_color;
		font:{
			size: 16px;
			weight: bold;				
		}			
	}	
	.sideNav li a.sideNav-current{color: $main_color;}		
	.sideNav li a:hover{	
		color: $hover_color;			
	}
	/* end sideNav */
}

#top-flow_contact{
	background-color: #FBFAF9;
	padding: 56px 0;
	.top-fc-title{
		background: transparent url("../img/top/top_part_title.png") no-repeat 0 0 scroll;			
		line-height: 50px;
		margin-bottom: 25px;
		padding-left: 37px;		
		font:{
			size: 22px;
			weight: bold;			
		}		
	}
	.top-fc-content{
		padding: 0 50px;
		.top-fc-contact{
			background: transparent url("../img/top/top_content_contact.jpg") no-repeat 0 0 scroll;						
			height: 144px;
			margin-top: 25px;
			position: relative;
			.top-fc-conbtn{			
				position: absolute;
				bottom: 77px;
				right: 25px;
			}
			.top-fc-estbtn{			
				position: absolute;
				bottom: 17px;
				right: 25px;
			}
		}/* .top-fc-contact */
			
		.top-fc-flow{			
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				width: 188px;
				height: 245px;
				background-image: url("../img/top/top_flow_arrow.png");
				background-repeat:no-repeat;
				background-position: 100% 50%;	
				margin-right: 8px;
				position: relative;				
				a{			
					display: block;
					width: 150px;
					height: 245px;					
					span{
						position: absolute;
						width: 150px;
						top: 28%;
						text-align: center;
						color: $text_color;
						font:{
							size: 20px;
							weight: bold;
						}					
					}									
				}												
			}			
			li:last-child{
				width: 150px;
				background-image: none;
			}
		}/* .top-fc-flow */
	}	
}/* top-flow_contact*/


#top-intro{
	background-color: #E4E0DC;
	padding: 60px 0;
	.top-intro-title{
		background: transparent url("../img/top/top_part_title.png") no-repeat 0 0 scroll;			
		line-height: 50px;
		margin-bottom: 40px;
		padding-left: 37px;		
		font:{
			size: 22px;
			weight: bold;			
		}		
	}
	.top-intro-content{
		padding: 0 55px;
		.top-intro-left{
			float: left;
			width: 230px;
		}
		.top-intro-right{
			float: right;
			width: 695px;
		}
	}
}



footer{	
	.footer-content{
		background: url("../img/common/footer_bg.jpg") repeat 0 0 scroll;			
		padding: 60px 0 90px;
		.footer-con-left{
			float: left;
			.footer-tel{padding-top: 15px;}
		}		
		.footer-con-right{
			float: left;
			width: 210px;
			padding-left: 52px;
			margin:0;
			list-style: none;
			li{
				border-top: 1px solid #E4E4E4;				
				padding: 12px 0;
				a{					
					font-size: 12px;
					color: $text_color;
				}
				a:hover{color: $hover_color;}
				a.footernav-current{color: $main_color;}
			}
			li:last-child{border-bottom: 1px solid #E4E4E4;}
		}
	}

	.footer-copyright{		
		background-color: $main_color;
		padding: 19px 0;
		text-align: center;
		color: $sub_color2;
		font-size: 11px;
	}
}