/*size*/
$max_width:1060px;

/* color - check file "Setting sheet.xlsx" for detail settings */
$text_color :#3a3a3a;
$bg_color :#fff;
$border_color :#ccc;
$main_color :#f12121;
$sub_color1 :#ff6c00;
$sub_color2 :#fff;
$sub_color3 :#333;
$link_color :#fb7d20;
$hover_color :#482B1B;

@mixin link_color($color) {
     color: $color;

     &:hover, &:active, &:focus {
         color: lighten($color, 20%);
     }
}

@mixin border_radius($value)
{
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin spacing($size) {
  $type: 'p';
  $prop: 'padding';
  @for $i from 1 through 2 {
    @if $i > 1 {
      $type: 'm';
      $prop: 'margin';
    }
    .#{$type}t#{$size} { #{$prop}-top:    #{$size}px; }
    .#{$type}r#{$size} { #{$prop}-right:  #{$size}px; }
    .#{$type}b#{$size} { #{$prop}-bottom: #{$size}px; }
    .#{$type}l#{$size} { #{$prop}-left:   #{$size}px; }
    .#{$type}v#{$size},
    .#{$type}a#{$size} {
      @extend .#{$type}t#{$size};
      @extend .#{$type}b#{$size};
    }
    .#{$type}h#{$size},
    .#{$type}a#{$size} {
      @extend .#{$type}r#{$size};
      @extend .#{$type}l#{$size};
    }
  }
}