@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */
.sideBlog{
	margin-top: 10px;
	.sideBlog-title{		
		font-size: 16px;
		line-height: 30px;
		color: $main_color;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 15px;
		list-style: none;
		li{
			a{
				color: $text_color;
				&:hover{color: $main_color;}
			}			
		}
	}
}/* .sideBlog*/

.sideBlog:first-child{margin-top: 0;}




/* page content */
#content{
	
	/* top */
	#top-content{margin-top: 15px;}
	.top-content1{
		background: transparent url("../img/top/top_content1_img.jpg") no-repeat 0 0 scroll;			
		height: 200px;
		position: relative;
		.top-content1-btn{
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
		.top-content1-btn a:hover{@include border_radius(5px);}
	}/* .top-content1 */
	
	
	.top-content2{
		background: transparent url("../img/top/top_content2_img.jpg") no-repeat 0 0 scroll;			
		height: 200px;
		position: relative;
		margin-top: 20px;
		.top-content2-btn{
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
		.top-content2-btn a:hover{@include border_radius(5px);}
	}/* .top-content2 */
	
	
	.top-content3{
		margin-top: 30px;
		.top-con3-left{
			float: left;
			width: 365px;
			.top-con3-title{
				background: transparent url("../img/top/h3_title.jpg") repeat-x 0 0 scroll;			
				text-align: center;
				color: $sub_color2;
				line-height: 47px;
				font:{
					size: 20px;
					weight: bold;
				}
			}
			.top-con3-bg{
				border: 3px solid #E4E4E4;
				padding: 15px;
				.top-con3-info{					
					.top-subcon3-left{
						float: left;
						width: 136px;
					}
					.top-subcon3-right{
						float: right;
						width: 183px;
						.top-subcon3-text{font-size: 12px;}
						.top-subcon3-price{
							padding-top: 10px;
							color: #F11F1F;
							font:{
								size: 34px;
								weight: bold;
							}
							span{padding-right: 12px; }
						}
						.top-subcon3-lastprice{
							padding-top: 73px;
							color: #F11F1F;
							font:{
								size: 34px;
								weight: bold;
							}
							span{padding-right: 12px; }
						}
					}
				}				
				.top-subcon3-btn{padding-top: 15px;}
			}
		}
		.top-con3-right{
			float: right;
			@extend .top-con3-left;
		}		
	}
	.top-content3:first-child{margin-top: 0;}		
	/* .top-content3 */
	
	.top-content4{
		margin-top: 40px;
		.top-con4-title{
			background: transparent url("../img/top/h3_title.jpg") repeat-x 0 0 scroll;			
			text-align: center;
			color: $sub_color2;
			line-height: 47px;
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.top-con4-info{
			border: 3px solid #E4E4E4;
			padding: 15px;
			.top-con4-left{
				float: left;
				width: 136px;
			}
			.top-con4-right{
				float: right;
				width: 570px;				
				.top-con4-rtitle{
					color: #F11F1F;
					font:{
						size: 18px;
						weight: bold;
					}
				}
				.top-con4-btn{padding-top: 15px;}
			}
		}
	}
	/* .top-content4 */
	
	
	#topslider{
		background: transparent url("../img/top/topslider_bg.jpg") no-repeat center center scroll;					
		height: 184px;
		.topslider-content{
			padding: 40px 0;
			width: 640px;
			margin: 0 auto;	
			.slick-slide{margin-right: 20px;}
			.slick-slide img{
				border: 1px solid #E1E1E1;
				padding: 3px;
				background-color: $sub_color2;
			}
		}
		.slick-prev:before, .slick-next:before{
			font-size: 30px;
			color: #c5bcb1;
		}
		.slick-prev{left: -45px;}
		.slick-next{right: -20px;}
	}
	/* #topslider */
	
	
	
	
	/*-----faq-page----*/
	.faq-content{		
		margin-bottom: 25px;
		background-color: #F0EEEC;
		border: 1px solid #E4DFDC;
		padding: 22px;				
		@include border_radius(5px);
		%faq-info{
			.faq-left{
				width: 95px;
				float: left;
			}
			.faq-right{
				margin-left: 10px;
				width: 555px;				
				float: left;
				background-color: $sub_color2;
			}
		}
		.faq-info-question{		
			@extend %faq-info;
			margin-bottom: 20px;
			.faq-right{
				padding: 17px 22px;
				font:{
					size: 23px;
					weight: bold;
				}
			}			
		}
		.faq-info-answer{
			@extend %faq-info;
			.faq-right{
				padding: 20px 22px;
				.faq-text-bold{font-weight: bold;}
			}
		}
	}/* .faq-content */
	.faq-content:last-child{margin-bottom: 0;}
		
	
	
	/*----- draft-page ----*/
	.draft-content-top{		
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #E3E3E3;
		.fa-check-circle{
			float: left;
			color: #F12121;
			font-size: 16px;	
			padding-top: 5px;
		}
		.draft-info{
			float: left;
			margin-left: 5px;				
			line-height: 1.8em;
			color: #444;
		}
	}/* .draft-content-top */
	
	.draft-content-first{
		@extend .draft-content-top;
		padding-top: 0;
	}

	.draft-mail{
		margin-top: 22px;
		margin-bottom: 20px;
		padding: 17px 14px;
		background-color: #F9F9F9;
		border: 1px solid #E3E3E3;
		span{
			background : transparent url("../img/content/draft_icon_email.jpg") no-repeat 0 0 scroll;		 
			padding-left: 35px;			
			font:{
				size: 16px;
				weight: bold;				
			}
			a{color: #444;}
			a:hover{color: $link_color;}
		}
	}/* .draft-mail */
	
    .draft-content-end{		
		%draft-info{	
			float: left;
			width: 327px;
			height: 295px;
			border: 1px solid #E3E3E3;
			background-color: #F9F9F9;
			padding: 18px;
			color: #444;
			.draft-title{
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.draft-icon{
				font-size: 18px;
				padding-right: 2px;
			}				
		}
		.draft-left{
			@extend %draft-info;	
			.draft-link{
				font-weight: bold;
				color: #444;
			}
			.draft-link:hover{color: $link_color;}
		}
		.draft-right{
			@extend %draft-info;			
			margin-left: 20px;
		}
	}/* .draft-content-end */
	
	
	
	/*----- price-page ----*/
	.price-link{
		margin-top: 25px;
		margin-bottom: 0;
		list-style: none;		
		padding: 0;
		li{			
			float: left;
			width: 174px;
			margin-left: 18px;
			text-align: center;
			a{
				background : transparent url("../img/content/price_link.jpg") no-repeat 0 0 scroll;		 							
				display: inline-block;
				height: 44px;
				width: 174px;
				padding-top: 14px;	
				color: $text_color;
				font:{
					size: 16px;
					weight: bold;
				}
				&:hover{color: $link_color;}
			}
			
		}
		li:first-child{margin-left: 0;}		
	}/* .price-link */
	
	.price-subtitle{
		background : transparent url("../img/content/price_subtitle.jpg") no-repeat 0 0 scroll;		
		line-height: 35px;
		padding-left: 46px;
		margin: 21px 0 25px;
		color: $sub_color2;
		font:{
			size: 16px;
			weight: bold;
		}
	}
	
	.price-table{
		width: 100%;				
		border-collapse: separate;
		border: 3px solid #E4E4E4;
		border-spacing: 0;			
		tr{
			th{	
				border-bottom: 1px solid #E4E4E4;	 
				border-right: 1px solid #E4E4E4;				
				padding: 12px 0;
				text-align: left;					
				padding-left: 15px;
				font:{
					size: 14px;
					weight: bold;
				}
			}			
			td{
				width: 119px;
				border-bottom: 1px solid #E4E4E4;	 
				border-right: 1px solid #E4E4E4;
				background-color: #FBFBFB;
				padding: 12px 15px;
				text-align: right;						
			}
			td:last-child{border-right: none;}
		}
		tr:first-child{
			th{					
				border-bottom: 1px solid #E4E4E4;	 
				border-right: 1px solid #E4E4E4;
				background-color: #F1EFED;
				text-align: center;									
				padding: 12px 0;			
				font:{
					size: 14px;
					weight: bold;
				}
			}	
			th:first-child{									
				background-color: $bg_color;				
			}
		}
	}/* .price-table */
	
	
	
	
	/*----- work-page ----*/	
	.work-content{
		margin-top: -5px;
		.work-left{
			width: 300px;
			float: left;
			border: 3px solid #E4E4E4;
		}
		.work-right{
			float: left;
			margin-left: 25px;
			width: 417px;	
			.work-subtitle{
				background : transparent url("../img/content/price_subtitle.jpg") no-repeat 0 0 scroll;		
				line-height: 35px;
				padding-left: 46px;		
				color: $sub_color2;
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.work-table{
				width: 100%;
				border-collapse: separate;
				border: 3px solid #E4E4E4;	
				border-spacing: 0;		
				tr{
					th{
						width: 84px;				
						border-bottom: 1px solid #E4E4E4;
						border-right:  1px solid #E4E4E4;
						background-color: $bg_color;	
						padding-left: 15px;
						text-align: left;
						font:{
							size: 14px;
							weight: bold;
						}								
					}
					td{
						background-color: #FBFBFB;
						padding: 11px 10px;
						border-bottom: 1px solid #E4E4E4;								
					}
				}	
				tr:last-child th, tr:last-child td{border-bottom: none;}
			}				
		}
	}/* .work-content */

	.work-info-last{
		margin-top: 20px;
		line-height: 1.8em;
	}


	
	/* wpcf7 */
	.wpcf7 {
		input, select, textarea{
			background-color: #f9f9f9;	
			border: 1px solid #ccc;
			padding: 5px 10px;
			margin: 5px 5px 5px 0;
			font-size: 15px;
			line-height: normal;
		}		
		select{
			width: 250px;
			font-size: 14px;
			line-height: 1.5em;
		}
		.contact-btn{
			margin-top: 20px;
			background-color:#F1EFED;
			padding: 18px 0;
			text-align: center;
			-webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
			-moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
			box-shadow: inset 2px 2px 3px 0px #d9d8d6;
			@include border_radius(5px);
		}
		.wpcf7-confirm{		
			background : transparent url("../img/content/confirm_btn.jpg") no-repeat 0 0 scroll;		 
			width: 432px;
			height: 64px;
			text-indent: -9999px;			
			cursor: pointer;
			color: $sub_color2;
			font-size: 18px;
			border: none !important;
		}	
		
		.wpcf7-submit, .wpcf7-back{
			width: 310px;
			height: 54px;
			border: 1px solid #C46200;
			background-color: #FF7F00;
			@include border_radius(5px);
			color: $sub_color2;
			cursor: pointer;
			text-align: center;
			font:{
				size: 24px;
				weight: bold;
			}
		}		
		.wpcf7-confirm:hover, .wpcf7-submit:hover, .wpcf7-back:hover{opacity: 0.7;}
	}
	/* end wpcf7*/
	
	span.wpcf7-list-item{margin-left: 1.4em;}
	span.wpcf7-list-item:first-child{margin-left: 0;}
	span.wpcf7-list-item-label{margin-left: -5px;}
	
	
		
	/*----- pen-page ----*/		
	.pen-top-left{
		float: left;
		width: 480px; 
		#mainalbum{
			float: left;
			width: 480px;
			margin-bottom: 15px;
		}		
		#mainalbum img{
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-ms-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
			transition: all 1s ease 0s;	
		}
		#mainalbum img:hover{
			cursor: pointer;
			-webkit-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}
		#mainalbum span{
			border: 3px solid #D6D6D6;
			display: block;		
			overflow: hidden;
		}
			
		#subalbum{		
			ul{
				list-style: none;	
				margin: 0;
				padding: 0;
				li{			
					margin-right: 8px;					
					display: inline-block;
					.thumb{	
						border: 2px solid #D6D6D6;
						cursor: pointer;	
						width: 107px;
						height: 66px;
					}		
				}
			}	
		}

		#subalbum ul li:last-child{margin-right: 0;}
	}/* .pen-top-left */
	
	
	.pen-top-right{
		float: left;		
		margin-left: 30px;
		width: 240px;	
		.pen-ttable-title{
			background : transparent url("../img/content/pen_ttable_title.jpg") no-repeat 0 0 scroll;		 
			line-height: 35px;
			color: $sub_color2;
			padding-left: 46px;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.pen-ttable{
			width: 100%;				
			border-collapse: collapse;	
			border-spacing: 0;	
			tr{
				th, td{
					border: 1px solid #E4E4E4;
					font-size: 12px;				
				}
				th{
					background-color: $sub_color2;
					font-weight: bold;	
					width: 66px;
					padding-left: 11px;
					text-align: left;
				}
				td{
					background-color: #FBFBFB;
					line-height: 1.5em;
					padding: 5px 10px;
					.icon{font-size: 15px;}
				}
			}
		}
	}/* .pen-top-right */

	.pen-estimate-btn{	
		background-color:#F1EFED;
		padding: 18px 0;
		text-align: center;
		-webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		-moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		@include border_radius(5px);
	}/* pen-estimate-btn */

	.pen-content1-text{padding-left: 25px;}
	.pen-content1-table{
		margin-top: 30px;
		width: 100%;				
		border-collapse: separate;
		border: 3px solid #E8E4E1;
		border-spacing: 0;	
		tr:first-child{
			th{	
				border-bottom: 1px solid #E8E4E1;	 
				border-right: 1px solid #E8E4E1;				
				background-color: #285C5B;
				text-align: center;									
				padding: 9px 0;
				color: $sub_color2;
				font:{
					size: 18px;
					weight: bold;
				}
			}	
			th:first-child{									
				background-color: #183837; 
			}
		}
		tr{
			th{
				width: 147px;
				border-bottom: 1px solid #E8E4E1;	 
				border-right: 1px solid #E8E4E1;
				background-color: #F1EFED;	
				padding: 14px 0;
				text-align: center;					
				font:{
					size: 18px;
					weight: bold;
				}
			}		
			th.second{
				background-color: #E8E4E1;
			}
			td{
				border-bottom: 1px solid #E8E4E1;	 
				border-right: 1px solid #E8E4E1;
				padding: 14px 20px;
				background-color: $sub_color2;
				text-align: right;
			}
			td:last-child{border-right: none;}
		}
	}/* .pen-content1-table */

	.pen-content2{
		.pen-con2-left{
			border: 5px solid #E4E4E4;
			float: left;
			width: 355px;		
			.pen-con2-top{
				height: 77px;
				padding: 15px 20px;
				background-color: $sub_color2;
				.pen-con2-step{
					background : transparent url("../img/content/pen_con2_step.png") no-repeat 0 0 scroll;		
					line-height: 25px;
					padding-left: 34px;
					color: $sub_color2;
					margin-bottom: 10px;
					font:{
						size: 14px;
						weight: bold;
					}
				}
				.pen-con2-title{				
					font:{
						size: 18px;
						weight: bold;
					}
					span{color: #F11F1F;}
				}
			}
			.pen-con2-text{
				height: 60px;
				padding: 15px 20px;
				background-color: #F1EFED;
				font-size: 12px;
			}
			.pen-con2-text14{
				height: 58px;
				padding: 15px 20px;
				background-color: #F1EFED;
				font-size: 14px;
			}
		}/* .pen-con2-left */
		
		.pen-con2-right{
			@extend .pen-con2-left;
			margin-left: 20px;
		}
	}/* .pen-content2 */
	
	.pen-estimate-title{		
		border: 1px solid #4E92E4;
		background-color: #1D6CCA;
		@include border_radius(5px);
		margin: 35px 0 30px;
		padding: 15.5px 0;
		text-align: center;		
		color: $sub_color2;		
		font:{
			size: 28px;
			weight: bold;
		}
		.fa{
			padding-right: 10px;
		}
	}
	
	.estimation-table1{			
		width: 100%;
		margin-bottom: 40px;
		border-collapse: separate;
		border: 4px solid #1E6DCA;	
		border-spacing: 0;		
		tr{
			th{
				width: 30%;		
				border-bottom: 1px solid #E3E3E3;
				text-align: left;
				background-color: #F5F5F5;
				padding: 10px 20px;
				vertical-align:middle;			
				.require{
					float: right;
					width: 35px;
					line-height: 18px;
					text-align: center;
					@include border_radius(2px);
					background-color: #FF5151;
					color: $sub_color2;
					font:{
						size: 11px;
						weight: bold;
					}
				}				
			}
			td{
				border-bottom: 1px solid #E3E3E3;
				padding: 25px 0 25px 20px;
				vertical-align:middle;
				.numclr-text{font-size: 12px;}
			}
		}		
		tr:last-child th, tr:last-child td{border-bottom: none;}
	}/* .estimation-table1 */

	.estimation-table2{		
		width: 100%;				
		border-collapse: separate;
		border: 4px solid #1E6DCA;	
		border-spacing: 0;		
		tr{
			th{
				width: 30%;				
				border-bottom: 1px solid #E3E3E3;
				text-align: left;
				background-color: #F5F5F5;
				padding:10px 20px;
				vertical-align:middle;			
				.require{
					float: right;
					width: 35px;
					line-height: 18px;
					text-align: center;
					@include border_radius(2px);
					background-color: #FF5151;
					color: $sub_color2;
					font:{
						size: 11px;
						weight: bold;
					}
				}
				.arbitrarily{
					@extend .require;
					background-color: #aaa;
				}
			}
			td{
				padding: 25px 0 25px 20px;
				border-bottom: 1px solid #E3E3E3;				
				vertical-align:middle;		
			}
		}	
		tr:last-child th, tr:last-child td{border-bottom: none;}
	}/* .estimation-table2 */
	

	/*---- othergoods page----*/
	.othergoods-top-left{
		float: left;
		width: 357px; 
		#mainalbum{
			float: left;
			width: 357px;
			margin-bottom: 15px;
		}		
		#mainalbum img{
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-ms-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
			transition: all 1s ease 0s;	
		}
		#mainalbum img:hover{
			cursor: pointer;
			-webkit-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}
		#mainalbum span{
			border: 3px solid #D6D6D6;
			display: block;		
			overflow: hidden;
		}
			
		#subalbum{		
			ul{
				list-style: none;	
				margin: 0;
				padding: 0;
				li{			
					margin-right: 8px;					
					display: inline-block;
					.thumb{	
						border: 2px solid #D6D6D6;
						cursor: pointer;	
						width: 107px;
						height: 66px;
					}		
				}
			}	
		}

		#subalbum ul li:last-child{margin-right: 0;}
	}/* .othergoods-top-left */

	.othergoods-top-right{
		float: left;		
		margin-left: 28px;
		width: 365px;			
	}/* othergoods-top-right */
	
		
	
	/*----- guide-page ----*/	
	.guide-top-text{
		padding-left: 22px;
		margin-bottom: 32px;
	}	
	
	
	
	/*----- support-page ----*/	
	.support-status{
		background : transparent url("../img/content/support_title.png") no-repeat 0 0 scroll;		
		height: 61px;
		padding-top: 104px;		
		padding-left: 42px;		
		color: $sub_color2;
			font:{
				size: 35px;
				weight: bold;
			}	
	}
	
	.support-content{	
		margin-top: 20px;
		background :  url("../img/content/support_bg.jpg") repeat 0 0 scroll;		
		padding: 23px;		
		-webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		-moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		box-shadow: inset 2px 2px 3px 0px #d9d8d6;
		@include border_radius(5px);
		%support-info{
			.support-left{
				width: 95px;
				float: left;
			}
			.support-right{
				margin-left: 10px;
				width: 555px;				
				float: left;
				background-color: $sub_color2;
			}
		}
		.support-info-top{		
			@extend %support-info;
			margin-bottom: 20px;
			.support-right{
				padding: 17px 22px;
				font:{
					size: 23px;
					weight: bold;
				}
			}			
		}
		.support-info-end{
			@extend %support-info;
			.support-right{padding: 20px 22px;}
		}
	}/* .support-content */
	
	
	
	/*----- about-page ----*/
	.about-content1-top{
		background: transparent url("../img/content/about_content1_img.jpg") no-repeat 0 0 scroll;		
		height: 380px;
		position: relative;
		.about-tcon1-title1{
			position: absolute;
			top: 55px;
			left: 30px;
			line-height: 1.4em;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.about-tcon1-title2{
			position: absolute;
			top: 135px;
			left: 30px;
			color: $sub_color2;
			text-transform: uppercase;
		}
		.about-tcon1-text{
			position: absolute;
			bottom: 15px;
			left: 262px;
			right: 20px;
			font-size: 12px;
			color: $sub_color2;
			line-height: 1.5em;
		}
	}/* .about-content1-top */	
	.about-content1-text{padding: 25px 20px 0 20px;}
	
	.about-content2-top{
		background: transparent url("../img/content/about_content2_top.jpg") no-repeat 0 0 scroll;		
		height: 255px;
		position: relative;
		.about-tcon2-title{
			position: absolute;
			top: 40px;
			left: 60px;			
			color: #FFFF00;
			font:{
				size: 27px;
				weight: bold;
			}
		}
		.about-tcon2-text{
			position: absolute;
			top: 113px;
			left:  60px;
			width: 250px;			
			color: $sub_color2;
		}
	}/* .about-content2-top */
	
	.about-content2{
		padding: 40px;
		background-color: #285C5B;
		%about-con2-info{
			.about-c2l-img{text-align: center;}
			.about-c2l-text{
				color: $sub_color2;
				padding-top: 20px;
			}
		}
		.about-con2-left{
			@extend %about-con2-info;
			width: 315px;
			float: left;
		}
		.about-con2-right{
			@extend %about-con2-info;
			width: 315px;
			float: left;
			margin-left: 40px;
		}
	}/* .about-content2 */
	
	.about-content3{
		.about-con3-img{
			float: left;
		}
		.about-con3-info{
			float: right;
			width: 150px;
			height: 160px;
			padding: 20px;
			background-color: #F1EFED;
			.about-con3-point{
				background : transparent url("../img/content/pen_con2_step.png") no-repeat 0 0 scroll;		
				line-height: 25px;
				padding-left: 34px;
				color: $sub_color2;				
				font:{
					size: 14px;
					weight: bold;
				}
			}
			.about-con3-title{
				padding: 10px 0 5px;
				color: #F11F1F;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.about-con3-text{font-size: 12px;}
		}/* .about-con3-info */
	}/* .about-content3 */
	
	
	.about-content4{
		padding: 0 20px;
		.about-con4-title{
			background : transparent url("../img/content/about_content4_subtitle.jpg") no-repeat 0 0 scroll;		
			line-height: 42px;
			padding-left: 20px;
			margin-bottom: 15px;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.about-con4-text{margin-bottom: 28px;}
		
		.about-con4-table{
			margin-top: 30px;
			width: 100%;				
			border-collapse: separate;
			border: 3px solid #E8E4E1;
			border-spacing: 0;				
			tr{
				th{
					width: 280px;
					border-bottom: 1px solid #E8E4E1;	
					border-right: 1px solid #E8E4E1;					
					background-color: #F1EFED;	
					padding: 14px 0;
					text-align: center;					
					font:{
						size: 16px;
						weight: bold;
					}
				}
				th:first-child{width: 151px;}
				th.about-con4-clr{
					background-color: #E8E4E1;
				}
				td{
				
					border-bottom: 1px solid #E8E4E1;
					border-right: 1px solid #E8E4E1;					
					padding: 20px 12px;
					background-color: $sub_color2;					
				}
				td:last-child{border-right: none;}
			}
			tr:first-child{
				th{						
					border-bottom: 1px solid #E8E4E1;	 
					border-right: 1px solid #E8E4E1;
					background-color: #285C5B;
					text-align: center;									
					padding: 9px 0;
					color: $sub_color2;
					font:{
						size: 18px;
						weight: bold;
					}
				}	
				th:first-child{									
					background-color: #183837; 
					width: 150px;
				}
			}
		}/* .about-con4-table */
	}
	
	
	/*----- privacy-page ----*/
	.privacy-content{
		margin-bottom: 27px;
	}


	/*----- company-page ----*/
	.company-table{
		border-collapse: separate;
		border: 3px solid #E4E4E4;	
		border-spacing: 0;	
		width: 100%;
		tr{
			th{
				width: 151px;				
				border-bottom: 1px solid #E4E4E4;	 
				border-right: 1px solid #E4E4E4;	 
				background-color: $sub_color2;
				padding-left: 15px;
				text-align: left;
				font:{
					size: 14px;
					weight: bold;
				}								
			}
			
			td{
				padding: 13px;
				border-bottom: 1px solid #E4E4E4;									
				background-color: #FBFBFB;
			}			
		}		
		tr:last-child{
			th,td{border-bottom: none;}
		}
	}/* .company-table */
	.companymap{border: 3px solid #E4E4E4; }
	
	

	/*----- blog-page ----*/
	.blog-subtitle{
		background: transparent url("../img/content/blog_subtitle.jpg") no-repeat 0 0 scroll;			
		line-height: 48px;
		margin-bottom: 25px;
		padding-left: 25px;
		color: $text_color;
		font:{
			size: 20px;
			weight: bold;			
		}
	}
	
	.post-row-content{	
		.blog-btnrm{
			float: right;		
			padding: 3px 8px;
			@include border_radius(5px);
			background-color: $main_color;
			a{
				color: $sub_color2;
			}
			a:hover{
				opacity: 0.5;
			}
		}
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
		}
		.blog-content, .post-row-description{margin-top: 10px;}		
	}/* .post-row-content */	
	
	.navigation{
		margin-top: 20px;
		margin-bottom: 60px;
		a{color: $main_color;}
		a:hover{
			text-decoration: underline;
		}
	}
	
	.wp-pagenavi{
		margin-top: 20px;
		margin-bottom: 60px;
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;		
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}/* .wp-pagenavi */
	
	#category{margin-bottom: 100px;}
}/* #content */