@charset "UTF-8";
/* CSS Document */
/*size*/
/* color - check file "Setting sheet.xlsx" for detail settings */
/* base css */
/* line 38, ../scss/_vars.scss */
.pt5, .pv5,
.pa5 {
  padding-top: 5px; }

/* line 39, ../scss/_vars.scss */
.pr5, .ph5,
.pa5 {
  padding-right: 5px; }

/* line 40, ../scss/_vars.scss */
.pb5, .pv5,
.pa5 {
  padding-bottom: 5px; }

/* line 41, ../scss/_vars.scss */
.pl5, .ph5,
.pa5 {
  padding-left: 5px; }

/* line 38, ../scss/_vars.scss */
.mt5, .mv5,
.ma5 {
  margin-top: 5px; }

/* line 39, ../scss/_vars.scss */
.mr5, .mh5,
.ma5 {
  margin-right: 5px; }

/* line 40, ../scss/_vars.scss */
.mb5, .mv5,
.ma5 {
  margin-bottom: 5px; }

/* line 41, ../scss/_vars.scss */
.ml5, .mh5,
.ma5 {
  margin-left: 5px; }

/* line 38, ../scss/_vars.scss */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

/* line 39, ../scss/_vars.scss */
.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

/* line 40, ../scss/_vars.scss */
.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

/* line 41, ../scss/_vars.scss */
.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

/* line 38, ../scss/_vars.scss */
.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

/* line 39, ../scss/_vars.scss */
.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

/* line 40, ../scss/_vars.scss */
.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

/* line 41, ../scss/_vars.scss */
.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

/* line 38, ../scss/_vars.scss */
.pt15, .pv15,
.pa15 {
  padding-top: 15px; }

/* line 39, ../scss/_vars.scss */
.pr15, .ph15,
.pa15 {
  padding-right: 15px; }

/* line 40, ../scss/_vars.scss */
.pb15, .pv15,
.pa15 {
  padding-bottom: 15px; }

/* line 41, ../scss/_vars.scss */
.pl15, .ph15,
.pa15 {
  padding-left: 15px; }

/* line 38, ../scss/_vars.scss */
.mt15, .mv15,
.ma15 {
  margin-top: 15px; }

/* line 39, ../scss/_vars.scss */
.mr15, .mh15,
.ma15 {
  margin-right: 15px; }

/* line 40, ../scss/_vars.scss */
.mb15, .mv15,
.ma15 {
  margin-bottom: 15px; }

/* line 41, ../scss/_vars.scss */
.ml15, .mh15,
.ma15 {
  margin-left: 15px; }

/* line 38, ../scss/_vars.scss */
.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

/* line 39, ../scss/_vars.scss */
.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

/* line 40, ../scss/_vars.scss */
.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

/* line 41, ../scss/_vars.scss */
.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

/* line 38, ../scss/_vars.scss */
.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

/* line 39, ../scss/_vars.scss */
.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

/* line 40, ../scss/_vars.scss */
.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

/* line 41, ../scss/_vars.scss */
.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

/* line 38, ../scss/_vars.scss */
.pt25, .pv25,
.pa25 {
  padding-top: 25px; }

/* line 39, ../scss/_vars.scss */
.pr25, .ph25,
.pa25 {
  padding-right: 25px; }

/* line 40, ../scss/_vars.scss */
.pb25, .pv25,
.pa25 {
  padding-bottom: 25px; }

/* line 41, ../scss/_vars.scss */
.pl25, .ph25,
.pa25 {
  padding-left: 25px; }

/* line 38, ../scss/_vars.scss */
.mt25, .mv25,
.ma25 {
  margin-top: 25px; }

/* line 39, ../scss/_vars.scss */
.mr25, .mh25,
.ma25 {
  margin-right: 25px; }

/* line 40, ../scss/_vars.scss */
.mb25, .mv25,
.ma25 {
  margin-bottom: 25px; }

/* line 41, ../scss/_vars.scss */
.ml25, .mh25,
.ma25 {
  margin-left: 25px; }

/* line 38, ../scss/_vars.scss */
.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

/* line 39, ../scss/_vars.scss */
.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

/* line 40, ../scss/_vars.scss */
.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

/* line 41, ../scss/_vars.scss */
.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

/* line 38, ../scss/_vars.scss */
.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

/* line 39, ../scss/_vars.scss */
.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

/* line 40, ../scss/_vars.scss */
.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

/* line 41, ../scss/_vars.scss */
.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

/* line 38, ../scss/_vars.scss */
.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

/* line 39, ../scss/_vars.scss */
.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

/* line 40, ../scss/_vars.scss */
.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

/* line 41, ../scss/_vars.scss */
.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

/* line 38, ../scss/_vars.scss */
.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

/* line 39, ../scss/_vars.scss */
.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

/* line 40, ../scss/_vars.scss */
.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

/* line 41, ../scss/_vars.scss */
.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

/* line 38, ../scss/_vars.scss */
.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

/* line 39, ../scss/_vars.scss */
.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

/* line 40, ../scss/_vars.scss */
.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

/* line 41, ../scss/_vars.scss */
.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

/* line 38, ../scss/_vars.scss */
.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

/* line 39, ../scss/_vars.scss */
.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

/* line 40, ../scss/_vars.scss */
.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

/* line 41, ../scss/_vars.scss */
.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*===== link ======*/
/* line 14, ../scss/_base.scss */
a {
  color: #f12121;
  text-decoration: none; }
  /* line 18, ../scss/_vars.scss */
  a:hover, a:active, a:focus {
    color: #f78181; }

/* line 19, ../scss/_base.scss */
a:link {
  color: #fb7d20; }

/* line 22, ../scss/_base.scss */
a:visited {
  color: #fb7d20; }

/* line 25, ../scss/_base.scss */
a:hover {
  color: #482b1b; }

/* line 28, ../scss/_base.scss */
a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

/* line 32, ../scss/_base.scss */
a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

/*======== clear css========*/
/* line 43, ../scss/_base.scss */
.clear {
  clear: both; }

/* clearfix css */
/* line 48, ../scss/_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* line 55, ../scss/_base.scss */
.clearfix {
  min-height: 1px; }

/* line 58, ../scss/_base.scss */
* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
/* line 5, ../scss/_common.scss */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* reset */
/* line 18, ../scss/_common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

/* line 22, ../scss/_common.scss */
.container {
  width: 1100px; }

/* line 26, ../scss/_common.scss */
p {
  margin: 0px; }

/* line 28, ../scss/_common.scss */
a:hover {
  text-decoration: none; }

/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
/* line 37, ../scss/_common.scss */
#wrapper {
  min-width: 1090px;
  overflow: hidden; }

/* line 42, ../scss/_common.scss */
#wrapper img {
  max-width: 100%; }

/* line 46, ../scss/_common.scss */
.contain {
  max-width: 1060px;
  margin: 0px auto; }

/* line 52, ../scss/_common.scss */
.primary .primary-row {
  margin-top: 40px; }
  /* line 54, ../scss/_common.scss */
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  /* line 57, ../scss/_common.scss */
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
/* line 61, ../scss/_common.scss */
.primary .primary-row:first-child {
  margin-top: 0px; }

/* line 67, ../scss/_common.scss */
.sidebar .sidebar-row {
  margin-top: 40px; }
/* line 70, ../scss/_common.scss */
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

/* line 76, ../scss/_common.scss */
.two-cols-left .primary {
  width: 750px;
  float: left;
  margin-left: 310px; }
/* line 81, ../scss/_common.scss */
.two-cols-left .sidebar {
  width: 270px;
  float: left;
  margin-left: -1060px; }

/* line 89, ../scss/_common.scss */
.two-cols-right .primary {
  float: left;
  width: 750px;
  margin-right: 40px; }
/* line 94, ../scss/_common.scss */
.two-cols-right .sidebar {
  float: left;
  width: 270px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
/* line 104, ../scss/_common.scss */
.ln2em {
  line-height: 2em; }

/* line 105, ../scss/_common.scss */
.ln18em {
  line-height: 1.8em; }

/* line 106, ../scss/_common.scss */
.ln15em {
  line-height: 1.5em; }

/* line 108, ../scss/_common.scss */
img {
  border: 0;
  height: auto;
  vertical-align: middle; }

/* LAYOUT TOP */
/* line 116, ../scss/_common.scss */
#top {
  background-color: #F9F9F9;
  border-bottom: 1px solid #F0F0F0; }
  /* line 119, ../scss/_common.scss */
  #top .top-text {
    float: left;
    line-height: 20px;
    font-size: 11px; }
  /* line 124, ../scss/_common.scss */
  #top .top-navi {
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    /* line 130, ../scss/_common.scss */
    #top .top-navi li {
      display: inline-block;
      padding: 0px 20px;
      border-right: 1px solid #E3E3E3; }
      /* line 134, ../scss/_common.scss */
      #top .top-navi li a {
        color: #3a3a3a;
        font-size: 11px; }
        /* line 137, ../scss/_common.scss */
        #top .top-navi li a:hover {
          color: #482b1b; }
      /* line 141, ../scss/_common.scss */
      #top .top-navi li a.top-navi-current {
        color: #f12121; }
    /* line 145, ../scss/_common.scss */
    #top .top-navi li:first-child {
      border-left: 1px solid #E3E3E3; }

/* line 152, ../scss/_common.scss */
header .header-content .logo {
  padding: 32px 0;
  float: left; }
/* line 156, ../scss/_common.scss */
header .header-content .header-tel {
  padding: 31px 0 23px 69px;
  float: left; }
/* line 160, ../scss/_common.scss */
header .header-content .header-contact {
  padding: 31px 0 33px 46px;
  float: left; }
/* line 164, ../scss/_common.scss */
header .header-content .header-estimate {
  padding: 31px 0 33px 25px;
  float: left; }

/* line 171, ../scss/_common.scss */
nav {
  background: white url("../img/common/mainnavi_bg.jpg") repeat-x 0 0 scroll;
  height: 60px; }
  /* line 174, ../scss/_common.scss */
  nav .mainnavi {
    list-style: none;
    padding: 0; }
    /* line 177, ../scss/_common.scss */
    nav .mainnavi li {
      float: left;
      border-left: 1px solid #E7E7E7;
      background-color: white; }
      /* line 181, ../scss/_common.scss */
      nav .mainnavi li a {
        display: block;
        text-align: center;
        padding: 16px 0;
        color: #3a3a3a;
        font-size: 16px;
        font-weight: bold; }
    /* line 192, ../scss/_common.scss */
    nav .mainnavi li:nth-child(1) a:hover, nav .mainnavi li:nth-child(2) a:hover, nav .mainnavi li:nth-child(3) a:hover, nav .mainnavi li:nth-child(4) a:hover, nav .mainnavi li:nth-child(5) a:hover, nav .mainnavi li:nth-child(6) a:hover {
      padding: 16px 0;
      height: 25px;
      text-shadow: 3px 0 0 white, -3px 0 0 white, 0 3px 0 white, 0 -3px 0 white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; }
    /* line 197, ../scss/_common.scss */
    nav .mainnavi li:nth-child(1) {
      border-top: 3px solid #F12121;
      width: 176px; }
      /* line 200, ../scss/_common.scss */
      nav .mainnavi li:nth-child(1) a:hover {
        background: transparent url("../img/common/top_navi1On.jpg") no-repeat 0 0 scroll; }
    /* line 205, ../scss/_common.scss */
    nav .mainnavi li:nth-child(2) {
      border-top: 3px solid #FF7F00;
      width: 176px; }
      /* line 208, ../scss/_common.scss */
      nav .mainnavi li:nth-child(2) a:hover {
        background: transparent url("../img/common/top_navi2On.jpg") no-repeat 0 0 scroll; }
    /* line 213, ../scss/_common.scss */
    nav .mainnavi li:nth-child(3) {
      border-top: 3px solid #D9AC6E;
      width: 176px; }
      /* line 216, ../scss/_common.scss */
      nav .mainnavi li:nth-child(3) a:hover {
        background: transparent url("../img/common/top_navi3On.jpg") no-repeat 0 0 scroll; }
    /* line 221, ../scss/_common.scss */
    nav .mainnavi li:nth-child(4) {
      border-top: 3px solid #79D159;
      width: 176px; }
      /* line 224, ../scss/_common.scss */
      nav .mainnavi li:nth-child(4) a:hover {
        background: transparent url("../img/common/top_navi4On.jpg") no-repeat 0 0 scroll; }
    /* line 229, ../scss/_common.scss */
    nav .mainnavi li:nth-child(5) {
      border-top: 3px solid #56BDCF;
      width: 175px; }
      /* line 232, ../scss/_common.scss */
      nav .mainnavi li:nth-child(5) a:hover {
        background: transparent url("../img/common/top_navi5On.jpg") no-repeat 0 0 scroll; }
    /* line 237, ../scss/_common.scss */
    nav .mainnavi li:nth-child(6) {
      border-top: 3px solid #6982D4;
      width: 174px; }
      /* line 240, ../scss/_common.scss */
      nav .mainnavi li:nth-child(6) a:hover {
        background: transparent url("../img/common/top_navi6On.jpg") no-repeat 0 0 scroll; }
    /* line 245, ../scss/_common.scss */
    nav .mainnavi li:last-child {
      border-right: 1px solid #E7E7E7; }

/*-- breadcrumb --*/
/* line 251, ../scss/_common.scss */
#top-breadcrumb {
  background: transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;
  line-height: 30px;
  color: #3a3a3a;
  font-size: 11px; }
  /* line 256, ../scss/_common.scss */
  #top-breadcrumb .home {
    color: #3a3a3a; }
  /* line 259, ../scss/_common.scss */
  #top-breadcrumb a {
    color: #482b1b; }
  /* line 260, ../scss/_common.scss */
  #top-breadcrumb a:hover {
    color: #482b1b; }

/*======= content =====*/
/* line 267, ../scss/_common.scss */
#content {
  background: transparent url("../img/common/content_bg.png") no-repeat top center scroll;
  padding: 43px 0 50px;
  /* message */
  /* message-group */
  /* heading */
  /* sideMenu.css */
  /* end sideMenu */
  /* sideNav.css */
  /* end sideNav */ }
  /* line 273, ../scss/_common.scss */
  #content .message-left .image {
    float: left; }
  /* line 276, ../scss/_common.scss */
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  /* line 283, ../scss/_common.scss */
  #content .message-right .image {
    float: right; }
  /* line 286, ../scss/_common.scss */
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  /* line 293, ../scss/_common.scss */
  #content .message-200 .image {
    width: 200px; }
  /* line 294, ../scss/_common.scss */
  #content .message-200 .text {
    width: 530px; }
    /* line 296, ../scss/_common.scss */
    #content .message-200 .text span {
      font-weight: bold; }
  /* line 301, ../scss/_common.scss */
  #content .message-308 .image {
    width: 308px; }
  /* line 302, ../scss/_common.scss */
  #content .message-308 .text {
    width: 417px; }
  /* line 305, ../scss/_common.scss */
  #content .message-left365 {
    margin-bottom: 20px; }
    /* line 307, ../scss/_common.scss */
    #content .message-left365 .image {
      width: 365px; }
    /* line 308, ../scss/_common.scss */
    #content .message-left365 .text {
      width: 370px;
      margin-left: 15px !important; }
  /* line 313, ../scss/_common.scss */
  #content .message-right365 {
    margin-bottom: 40px; }
    /* line 315, ../scss/_common.scss */
    #content .message-right365 .image {
      width: 365px; }
    /* line 316, ../scss/_common.scss */
    #content .message-right365 .text {
      width: 370px;
      margin-right: 15px !important; }
  /* line 324, ../scss/_common.scss */
  #content .message-group .message-row {
    margin-top: 20px; }
    /* line 326, ../scss/_common.scss */
    #content .message-group .message-row .message-col {
      float: left; }
  /* line 330, ../scss/_common.scss */
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  /* line 336, ../scss/_common.scss */
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  /* line 340, ../scss/_common.scss */
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  /* line 346, ../scss/_common.scss */
  #content .message-group.message-col365 .message-col {
    width: 365px;
    margin-left: 20px; }
  /* line 350, ../scss/_common.scss */
  #content .message-group.message-col365 .message-col:first-child {
    margin-left: 0; }
  /* line 353, ../scss/_common.scss */
  #content .message-group.message-col365 .message-row:first-child {
    margin-top: 30px !important; }
  /* line 360, ../scss/_common.scss */
  #content .message-group.message-col238 .message-col {
    position: relative;
    width: 238px;
    margin-left: 18px; }
    /* line 364, ../scss/_common.scss */
    #content .message-group.message-col238 .message-col .title {
      background: transparent url("../img/content/guide_content_title.png") no-repeat 0 0 scroll;
      height: 68px;
      color: white;
      text-align: center;
      padding-top: 11px;
      line-height: 1.2em;
      font-size: 20px;
      font-weight: bold; }
    /* line 376, ../scss/_common.scss */
    #content .message-group.message-col238 .message-col .image {
      position: absolute;
      z-index: -999;
      top: 70px; }
    /* line 381, ../scss/_common.scss */
    #content .message-group.message-col238 .message-col .content {
      margin-top: 91px;
      border: 3px solid #E5E5E5;
      padding: 15px 15px 20px 15px; }
      /* line 385, ../scss/_common.scss */
      #content .message-group.message-col238 .message-col .content .text {
        height: 290px; }
      /* line 386, ../scss/_common.scss */
      #content .message-group.message-col238 .message-col .content .button {
        padding-top: 15px; }
  /* line 389, ../scss/_common.scss */
  #content .message-group.message-col238 .message-col:first-child {
    margin-left: 0; }
  /* line 395, ../scss/_common.scss */
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    /* line 401, ../scss/_common.scss */
    #content .message-classic .message-col .title {
      color: #f12121;
      font-size: 16px;
      line-height: 30px; }
    /* line 407, ../scss/_common.scss */
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    /* line 412, ../scss/_common.scss */
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  /* line 420, ../scss/_common.scss */
  #content .h2-title, #content .h3-title {
    background: transparent url("../img/common/h2_title.png") no-repeat 0 0 scroll;
    line-height: 50px;
    margin-bottom: 25px;
    padding-left: 37px;
    font-size: 22px;
    font-weight: bold; }
  /* line 431, ../scss/_common.scss */
  #content .guide-subpages-title, #content .about-subpages-title, #content .faq-subpages-title, #content .company-subpages-title, #content .draft-subpages-title, #content .estimate-subpages-title, #content .privacy-subpages-title, #content .flow-subpages-title, #content .price-subpages-title, #content .work-subpages-title, #content .support-subpages-title, #content .pen-subpages-title, #content .mirror-subpages-title, #content .bag-subpages-title, #content .towel-subpages-title, #content .othergoods-subpages-title {
    position: relative;
    height: 170px;
    margin-bottom: 40px; }
    /* line 435, ../scss/_common.scss */
    #content .guide-subpages-title .text1, #content .about-subpages-title .text1, #content .faq-subpages-title .text1, #content .company-subpages-title .text1, #content .draft-subpages-title .text1, #content .estimate-subpages-title .text1, #content .privacy-subpages-title .text1, #content .flow-subpages-title .text1, #content .price-subpages-title .text1, #content .work-subpages-title .text1, #content .support-subpages-title .text1, #content .pen-subpages-title .text1, #content .mirror-subpages-title .text1, #content .bag-subpages-title .text1, #content .towel-subpages-title .text1, #content .othergoods-subpages-title .text1 {
      position: absolute;
      color: white;
      font-size: 32px;
      font-weight: bold; }
    /* line 443, ../scss/_common.scss */
    #content .guide-subpages-title .text2, #content .about-subpages-title .text2, #content .faq-subpages-title .text2, #content .company-subpages-title .text2, #content .draft-subpages-title .text2, #content .estimate-subpages-title .text2, #content .privacy-subpages-title .text2, #content .flow-subpages-title .text2, #content .price-subpages-title .text2, #content .work-subpages-title .text2, #content .support-subpages-title .text2, #content .pen-subpages-title .text2, #content .mirror-subpages-title .text2, #content .bag-subpages-title .text2, #content .towel-subpages-title .text2, #content .othergoods-subpages-title .text2 {
      position: absolute;
      text-transform: uppercase;
      font-size: 14px; }
  /* line 450, ../scss/_common.scss */
  #content .guide-subpages-title {
    background: transparent url("../img/content/guide_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 453, ../scss/_common.scss */
    #content .guide-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 457, ../scss/_common.scss */
    #content .guide-subpages-title .text2 {
      color: #FD9C55;
      top: 98px;
      left: 40px; }
  /* line 464, ../scss/_common.scss */
  #content .about-subpages-title {
    background: transparent url("../img/content/about_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 467, ../scss/_common.scss */
    #content .about-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 471, ../scss/_common.scss */
    #content .about-subpages-title .text2 {
      color: #4D8A87;
      top: 98px;
      left: 40px; }
  /* line 478, ../scss/_common.scss */
  #content .faq-subpages-title {
    background: transparent url("../img/content/faq_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 481, ../scss/_common.scss */
    #content .faq-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 485, ../scss/_common.scss */
    #content .faq-subpages-title .text2 {
      color: #FE994E;
      top: 98px;
      left: 40px; }
  /* line 492, ../scss/_common.scss */
  #content .company-subpages-title {
    background: transparent url("../img/content/company_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 495, ../scss/_common.scss */
    #content .company-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 499, ../scss/_common.scss */
    #content .company-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 506, ../scss/_common.scss */
  #content .draft-subpages-title {
    background: transparent url("../img/content/draft_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 509, ../scss/_common.scss */
    #content .draft-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 513, ../scss/_common.scss */
    #content .draft-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 520, ../scss/_common.scss */
  #content .estimate-subpages-title {
    background: transparent url("../img/content/estimate_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 523, ../scss/_common.scss */
    #content .estimate-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 527, ../scss/_common.scss */
    #content .estimate-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 534, ../scss/_common.scss */
  #content .privacy-subpages-title {
    background: transparent url("../img/content/privacy_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 537, ../scss/_common.scss */
    #content .privacy-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 541, ../scss/_common.scss */
    #content .privacy-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 548, ../scss/_common.scss */
  #content .flow-subpages-title {
    background: transparent url("../img/content/flow_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 551, ../scss/_common.scss */
    #content .flow-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 555, ../scss/_common.scss */
    #content .flow-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 562, ../scss/_common.scss */
  #content .price-subpages-title {
    background: transparent url("../img/content/price_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 565, ../scss/_common.scss */
    #content .price-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 569, ../scss/_common.scss */
    #content .price-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 576, ../scss/_common.scss */
  #content .work-subpages-title {
    margin-bottom: 0 !important;
    background: transparent url("../img/content/work_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 580, ../scss/_common.scss */
    #content .work-subpages-title .text1 {
      top: 63px;
      left: 40px; }
    /* line 584, ../scss/_common.scss */
    #content .work-subpages-title .text2 {
      color: white;
      top: 98px;
      left: 40px; }
  /* line 591, ../scss/_common.scss */
  #content .support-subpages-title {
    background: transparent url("../img/content/support_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 594, ../scss/_common.scss */
    #content .support-subpages-title .text1 {
      top: 26px;
      left: 40px;
      line-height: 1.4em; }
    /* line 599, ../scss/_common.scss */
    #content .support-subpages-title .text2 {
      color: #0063C5;
      top: 116px;
      left: 40px; }
  /* line 606, ../scss/_common.scss */
  #content .pen-subpages-title {
    background: transparent url("../img/content/pen_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 609, ../scss/_common.scss */
    #content .pen-subpages-title .text1 {
      top: 26px;
      left: 40px;
      line-height: 1.4em; }
    /* line 614, ../scss/_common.scss */
    #content .pen-subpages-title .text2 {
      color: #F76D6D;
      top: 116px;
      left: 40px; }
  /* line 621, ../scss/_common.scss */
  #content .mirror-subpages-title {
    background: transparent url("../img/content/mirror_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 624, ../scss/_common.scss */
    #content .mirror-subpages-title .text1 {
      top: 26px;
      left: 40px;
      line-height: 1.4em; }
    /* line 629, ../scss/_common.scss */
    #content .mirror-subpages-title .text2 {
      color: #F76C6C;
      top: 116px;
      left: 40px; }
  /* line 636, ../scss/_common.scss */
  #content .bag-subpages-title {
    background: transparent url("../img/content/bag_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 639, ../scss/_common.scss */
    #content .bag-subpages-title .text1 {
      top: 26px;
      left: 40px;
      line-height: 1.4em; }
    /* line 644, ../scss/_common.scss */
    #content .bag-subpages-title .text2 {
      color: #F76C6C;
      top: 116px;
      left: 40px; }
  /* line 651, ../scss/_common.scss */
  #content .towel-subpages-title {
    background: transparent url("../img/content/towel_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 654, ../scss/_common.scss */
    #content .towel-subpages-title .text1 {
      top: 20px;
      left: 40px;
      line-height: 1.4em; }
    /* line 659, ../scss/_common.scss */
    #content .towel-subpages-title .text2 {
      color: #F76C6C;
      top: 110px;
      left: 40px; }
  /* line 666, ../scss/_common.scss */
  #content .othergoods-subpages-title {
    background: transparent url("../img/content/othergoods_top_img.jpg") no-repeat 0 0 scroll; }
    /* line 669, ../scss/_common.scss */
    #content .othergoods-subpages-title .text1 {
      top: 26px;
      left: 40px;
      line-height: 1.4em; }
    /* line 674, ../scss/_common.scss */
    #content .othergoods-subpages-title .text2 {
      color: #F76C6C;
      top: 116px;
      left: 40px; }
  /* line 684, ../scss/_common.scss */
  #content #side-menu-content .side-mnu-human {
    text-align: center;
    margin-top: -25px; }
  /* line 689, ../scss/_common.scss */
  #content .side-mnu-title {
    background: transparent url("../img/common/side_mnu_title.jpg") no-repeat 0 0 scroll;
    line-height: 47px;
    color: white;
    padding-left: 55px;
    font-size: 20px;
    font-weight: bold; }
  /* line 699, ../scss/_common.scss */
  #content .sideMenu {
    width: 260px;
    border: 3px solid #F12222;
    border-top: none;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  /* line 707, ../scss/_common.scss */
  #content .sideMenu li {
    border-bottom: 1px solid #E8E8E8;
    background-image: url("../img/common/side_icon.png");
    background-repeat: no-repeat;
    background-position: 90% 50%; }
  /* line 713, ../scss/_common.scss */
  #content .sideNav li:last-child {
    border-bottom: none; }
  /* line 714, ../scss/_common.scss */
  #content .sideMenu li a {
    display: block;
    line-height: 45px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: bold; }
    /* line 722, ../scss/_common.scss */
    #content .sideMenu li a span {
      padding: 0 5px; }
  /* line 724, ../scss/_common.scss */
  #content .sideMenu li a.sideMenu-current {
    color: #f12121; }
  /* line 725, ../scss/_common.scss */
  #content .sideMenu li a:hover {
    color: #482b1b; }
  /* line 730, ../scss/_common.scss */
  #content .side-nav-title {
    background: transparent url("../img/common/side_nav_title.jpg") no-repeat 0 0 scroll;
    line-height: 47px;
    color: white;
    padding-left: 55px;
    font-size: 20px;
    font-weight: bold; }
  /* line 740, ../scss/_common.scss */
  #content .sideNav {
    width: 260px;
    border: 3px solid #F12222;
    border-top: none;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  /* line 748, ../scss/_common.scss */
  #content .sideNav li {
    border-bottom: 1px solid #E8E8E8;
    background-image: url("../img/common/side_icon.png");
    background-repeat: no-repeat;
    background-position: 90% 50%; }
  /* line 754, ../scss/_common.scss */
  #content .sideNav li:last-child {
    border-bottom: none; }
  /* line 755, ../scss/_common.scss */
  #content .sideNav li a {
    display: block;
    padding: 15px 0 15px 53px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: bold; }
  /* line 764, ../scss/_common.scss */
  #content .sideNav li a.sideNav-current {
    color: #f12121; }
  /* line 765, ../scss/_common.scss */
  #content .sideNav li a:hover {
    color: #482b1b; }

/* line 771, ../scss/_common.scss */
#top-flow_contact {
  background-color: #FBFAF9;
  padding: 56px 0; }
  /* line 774, ../scss/_common.scss */
  #top-flow_contact .top-fc-title {
    background: transparent url("../img/top/top_part_title.png") no-repeat 0 0 scroll;
    line-height: 50px;
    margin-bottom: 25px;
    padding-left: 37px;
    font-size: 22px;
    font-weight: bold; }
  /* line 784, ../scss/_common.scss */
  #top-flow_contact .top-fc-content {
    padding: 0 50px;
    /* .top-fc-contact */
    /* .top-fc-flow */ }
    /* line 786, ../scss/_common.scss */
    #top-flow_contact .top-fc-content .top-fc-contact {
      background: transparent url("../img/top/top_content_contact.jpg") no-repeat 0 0 scroll;
      height: 144px;
      margin-top: 25px;
      position: relative; }
      /* line 791, ../scss/_common.scss */
      #top-flow_contact .top-fc-content .top-fc-contact .top-fc-conbtn {
        position: absolute;
        bottom: 77px;
        right: 25px; }
      /* line 796, ../scss/_common.scss */
      #top-flow_contact .top-fc-content .top-fc-contact .top-fc-estbtn {
        position: absolute;
        bottom: 17px;
        right: 25px; }
    /* line 803, ../scss/_common.scss */
    #top-flow_contact .top-fc-content .top-fc-flow {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 807, ../scss/_common.scss */
      #top-flow_contact .top-fc-content .top-fc-flow li {
        display: inline-block;
        width: 188px;
        height: 245px;
        background-image: url("../img/top/top_flow_arrow.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        margin-right: 8px;
        position: relative; }
        /* line 816, ../scss/_common.scss */
        #top-flow_contact .top-fc-content .top-fc-flow li a {
          display: block;
          width: 150px;
          height: 245px; }
          /* line 820, ../scss/_common.scss */
          #top-flow_contact .top-fc-content .top-fc-flow li a span {
            position: absolute;
            width: 150px;
            top: 28%;
            text-align: center;
            color: #3a3a3a;
            font-size: 20px;
            font-weight: bold; }
      /* line 833, ../scss/_common.scss */
      #top-flow_contact .top-fc-content .top-fc-flow li:last-child {
        width: 150px;
        background-image: none; }

/* top-flow_contact*/
/* line 842, ../scss/_common.scss */
#top-intro {
  background-color: #E4E0DC;
  padding: 60px 0; }
  /* line 845, ../scss/_common.scss */
  #top-intro .top-intro-title {
    background: transparent url("../img/top/top_part_title.png") no-repeat 0 0 scroll;
    line-height: 50px;
    margin-bottom: 40px;
    padding-left: 37px;
    font-size: 22px;
    font-weight: bold; }
  /* line 855, ../scss/_common.scss */
  #top-intro .top-intro-content {
    padding: 0 55px; }
    /* line 857, ../scss/_common.scss */
    #top-intro .top-intro-content .top-intro-left {
      float: left;
      width: 230px; }
    /* line 861, ../scss/_common.scss */
    #top-intro .top-intro-content .top-intro-right {
      float: right;
      width: 695px; }

/* line 871, ../scss/_common.scss */
footer .footer-content {
  background: url("../img/common/footer_bg.jpg") repeat 0 0 scroll;
  padding: 60px 0 90px; }
  /* line 874, ../scss/_common.scss */
  footer .footer-content .footer-con-left {
    float: left; }
    /* line 876, ../scss/_common.scss */
    footer .footer-content .footer-con-left .footer-tel {
      padding-top: 15px; }
  /* line 878, ../scss/_common.scss */
  footer .footer-content .footer-con-right {
    float: left;
    width: 210px;
    padding-left: 52px;
    margin: 0;
    list-style: none; }
    /* line 884, ../scss/_common.scss */
    footer .footer-content .footer-con-right li {
      border-top: 1px solid #E4E4E4;
      padding: 12px 0; }
      /* line 887, ../scss/_common.scss */
      footer .footer-content .footer-con-right li a {
        font-size: 12px;
        color: #3a3a3a; }
      /* line 891, ../scss/_common.scss */
      footer .footer-content .footer-con-right li a:hover {
        color: #482b1b; }
      /* line 892, ../scss/_common.scss */
      footer .footer-content .footer-con-right li a.footernav-current {
        color: #f12121; }
    /* line 894, ../scss/_common.scss */
    footer .footer-content .footer-con-right li:last-child {
      border-bottom: 1px solid #E4E4E4; }
/* line 898, ../scss/_common.scss */
footer .footer-copyright {
  background-color: #f12121;
  padding: 19px 0;
  text-align: center;
  color: white;
  font-size: 11px; }

/* part */
/* line 9, ../scss/layout.scss */
.sideBlog {
  margin-top: 10px; }
  /* line 11, ../scss/layout.scss */
  .sideBlog .sideBlog-title {
    font-size: 16px;
    line-height: 30px;
    color: #f12121;
    border-bottom: 2px solid #f12121;
    margin-bottom: 10px; }
  /* line 18, ../scss/layout.scss */
  .sideBlog ul {
    padding: 0px;
    margin: 0 0 0 15px;
    list-style: none; }
    /* line 23, ../scss/layout.scss */
    .sideBlog ul li a {
      color: #3a3a3a; }
      /* line 25, ../scss/layout.scss */
      .sideBlog ul li a:hover {
        color: #f12121; }

/* .sideBlog*/
/* line 31, ../scss/layout.scss */
.sideBlog:first-child {
  margin-top: 0; }

/* page content */
/* line 37, ../scss/layout.scss */
#content {
  /* top */
  /* .top-content1 */
  /* .top-content2 */
  /* .top-content3 */
  /* .top-content4 */
  /* #topslider */
  /*-----faq-page----*/
  /* .faq-content */
  /*----- draft-page ----*/
  /* .draft-content-top */
  /* .draft-mail */
  /* .draft-content-end */
  /*----- price-page ----*/
  /* .price-link */
  /* .price-table */
  /*----- work-page ----*/
  /* .work-content */
  /* wpcf7 */
  /* end wpcf7*/
  /*----- pen-page ----*/
  /* .pen-top-left */
  /* .pen-top-right */
  /* pen-estimate-btn */
  /* .pen-content1-table */
  /* .pen-content2 */
  /* .estimation-table1 */
  /* .estimation-table2 */
  /*---- othergoods page----*/
  /* .othergoods-top-left */
  /* othergoods-top-right */
  /*----- guide-page ----*/
  /*----- support-page ----*/
  /* .support-content */
  /*----- about-page ----*/
  /* .about-content1-top */
  /* .about-content2-top */
  /* .about-content2 */
  /* .about-content3 */
  /*----- privacy-page ----*/
  /*----- company-page ----*/
  /* .company-table */
  /*----- blog-page ----*/
  /* .post-row-content */
  /* .wp-pagenavi */ }
  /* line 40, ../scss/layout.scss */
  #content #top-content {
    margin-top: 15px; }
  /* line 41, ../scss/layout.scss */
  #content .top-content1 {
    background: transparent url("../img/top/top_content1_img.jpg") no-repeat 0 0 scroll;
    height: 200px;
    position: relative; }
    /* line 45, ../scss/layout.scss */
    #content .top-content1 .top-content1-btn {
      position: absolute;
      bottom: 20px;
      right: 20px; }
    /* line 50, ../scss/layout.scss */
    #content .top-content1 .top-content1-btn a:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  /* line 54, ../scss/layout.scss */
  #content .top-content2 {
    background: transparent url("../img/top/top_content2_img.jpg") no-repeat 0 0 scroll;
    height: 200px;
    position: relative;
    margin-top: 20px; }
    /* line 59, ../scss/layout.scss */
    #content .top-content2 .top-content2-btn {
      position: absolute;
      bottom: 20px;
      left: 20px; }
    /* line 64, ../scss/layout.scss */
    #content .top-content2 .top-content2-btn a:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  /* line 68, ../scss/layout.scss */
  #content .top-content3 {
    margin-top: 30px; }
    /* line 70, ../scss/layout.scss */
    #content .top-content3 .top-con3-left, #content .top-content3 .top-con3-right {
      float: left;
      width: 365px; }
      /* line 73, ../scss/layout.scss */
      #content .top-content3 .top-con3-left .top-con3-title, #content .top-content3 .top-con3-right .top-con3-title {
        background: transparent url("../img/top/h3_title.jpg") repeat-x 0 0 scroll;
        text-align: center;
        color: white;
        line-height: 47px;
        font-size: 20px;
        font-weight: bold; }
      /* line 83, ../scss/layout.scss */
      #content .top-content3 .top-con3-left .top-con3-bg, #content .top-content3 .top-con3-right .top-con3-bg {
        border: 3px solid #E4E4E4;
        padding: 15px; }
        /* line 87, ../scss/layout.scss */
        #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-left, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-left {
          float: left;
          width: 136px; }
        /* line 91, ../scss/layout.scss */
        #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right {
          float: right;
          width: 183px; }
          /* line 94, ../scss/layout.scss */
          #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-text, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-text {
            font-size: 12px; }
          /* line 95, ../scss/layout.scss */
          #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-price, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-price {
            padding-top: 10px;
            color: #F11F1F;
            font-size: 34px;
            font-weight: bold; }
            /* line 102, ../scss/layout.scss */
            #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-price span, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-price span {
              padding-right: 12px; }
          /* line 104, ../scss/layout.scss */
          #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-lastprice, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-lastprice {
            padding-top: 73px;
            color: #F11F1F;
            font-size: 34px;
            font-weight: bold; }
            /* line 111, ../scss/layout.scss */
            #content .top-content3 .top-con3-left .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-lastprice span, #content .top-content3 .top-con3-right .top-con3-bg .top-con3-info .top-subcon3-right .top-subcon3-lastprice span {
              padding-right: 12px; }
        /* line 115, ../scss/layout.scss */
        #content .top-content3 .top-con3-left .top-con3-bg .top-subcon3-btn, #content .top-content3 .top-con3-right .top-con3-bg .top-subcon3-btn {
          padding-top: 15px; }
    /* line 118, ../scss/layout.scss */
    #content .top-content3 .top-con3-right {
      float: right; }
  /* line 123, ../scss/layout.scss */
  #content .top-content3:first-child {
    margin-top: 0; }
  /* line 126, ../scss/layout.scss */
  #content .top-content4 {
    margin-top: 40px; }
    /* line 128, ../scss/layout.scss */
    #content .top-content4 .top-con4-title {
      background: transparent url("../img/top/h3_title.jpg") repeat-x 0 0 scroll;
      text-align: center;
      color: white;
      line-height: 47px;
      font-size: 20px;
      font-weight: bold; }
    /* line 138, ../scss/layout.scss */
    #content .top-content4 .top-con4-info {
      border: 3px solid #E4E4E4;
      padding: 15px; }
      /* line 141, ../scss/layout.scss */
      #content .top-content4 .top-con4-info .top-con4-left {
        float: left;
        width: 136px; }
      /* line 145, ../scss/layout.scss */
      #content .top-content4 .top-con4-info .top-con4-right {
        float: right;
        width: 570px; }
        /* line 148, ../scss/layout.scss */
        #content .top-content4 .top-con4-info .top-con4-right .top-con4-rtitle {
          color: #F11F1F;
          font-size: 18px;
          font-weight: bold; }
        /* line 155, ../scss/layout.scss */
        #content .top-content4 .top-con4-info .top-con4-right .top-con4-btn {
          padding-top: 15px; }
  /* line 162, ../scss/layout.scss */
  #content #topslider {
    background: transparent url("../img/top/topslider_bg.jpg") no-repeat center center scroll;
    height: 184px; }
    /* line 165, ../scss/layout.scss */
    #content #topslider .topslider-content {
      padding: 40px 0;
      width: 640px;
      margin: 0 auto; }
      /* line 169, ../scss/layout.scss */
      #content #topslider .topslider-content .slick-slide {
        margin-right: 20px; }
      /* line 170, ../scss/layout.scss */
      #content #topslider .topslider-content .slick-slide img {
        border: 1px solid #E1E1E1;
        padding: 3px;
        background-color: white; }
    /* line 176, ../scss/layout.scss */
    #content #topslider .slick-prev:before, #content #topslider .slick-next:before {
      font-size: 30px;
      color: #c5bcb1; }
    /* line 180, ../scss/layout.scss */
    #content #topslider .slick-prev {
      left: -45px; }
    /* line 181, ../scss/layout.scss */
    #content #topslider .slick-next {
      right: -20px; }
  /* line 189, ../scss/layout.scss */
  #content .faq-content {
    margin-bottom: 25px;
    background-color: #F0EEEC;
    border: 1px solid #E4DFDC;
    padding: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    /* line 196, ../scss/layout.scss */
    #content .faq-content .faq-info-question .faq-left, #content .faq-content .faq-info-answer .faq-left {
      width: 95px;
      float: left; }
    /* line 200, ../scss/layout.scss */
    #content .faq-content .faq-info-question .faq-right, #content .faq-content .faq-info-answer .faq-right {
      margin-left: 10px;
      width: 555px;
      float: left;
      background-color: white; }
    /* line 207, ../scss/layout.scss */
    #content .faq-content .faq-info-question {
      margin-bottom: 20px; }
      /* line 210, ../scss/layout.scss */
      #content .faq-content .faq-info-question .faq-right {
        padding: 17px 22px;
        font-size: 23px;
        font-weight: bold; }
    /* line 220, ../scss/layout.scss */
    #content .faq-content .faq-info-answer .faq-right {
      padding: 20px 22px; }
      /* line 222, ../scss/layout.scss */
      #content .faq-content .faq-info-answer .faq-right .faq-text-bold {
        font-weight: bold; }
  /* line 226, ../scss/layout.scss */
  #content .faq-content:last-child {
    margin-bottom: 0; }
  /* line 231, ../scss/layout.scss */
  #content .draft-content-top, #content .draft-content-first {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E3E3E3; }
    /* line 235, ../scss/layout.scss */
    #content .draft-content-top .fa-check-circle, #content .draft-content-first .fa-check-circle {
      float: left;
      color: #F12121;
      font-size: 16px;
      padding-top: 5px; }
    /* line 241, ../scss/layout.scss */
    #content .draft-content-top .draft-info, #content .draft-content-first .draft-info {
      float: left;
      margin-left: 5px;
      line-height: 1.8em;
      color: #444; }
  /* line 249, ../scss/layout.scss */
  #content .draft-content-first {
    padding-top: 0; }
  /* line 254, ../scss/layout.scss */
  #content .draft-mail {
    margin-top: 22px;
    margin-bottom: 20px;
    padding: 17px 14px;
    background-color: #F9F9F9;
    border: 1px solid #E3E3E3; }
    /* line 260, ../scss/layout.scss */
    #content .draft-mail span {
      background: transparent url("../img/content/draft_icon_email.jpg") no-repeat 0 0 scroll;
      padding-left: 35px;
      font-size: 16px;
      font-weight: bold; }
      /* line 267, ../scss/layout.scss */
      #content .draft-mail span a {
        color: #444; }
      /* line 268, ../scss/layout.scss */
      #content .draft-mail span a:hover {
        color: #fb7d20; }
  /* line 273, ../scss/layout.scss */
  #content .draft-content-end .draft-left, #content .draft-content-end .draft-right {
    float: left;
    width: 327px;
    height: 295px;
    border: 1px solid #E3E3E3;
    background-color: #F9F9F9;
    padding: 18px;
    color: #444; }
    /* line 281, ../scss/layout.scss */
    #content .draft-content-end .draft-left .draft-title, #content .draft-content-end .draft-right .draft-title {
      font-size: 16px;
      font-weight: bold; }
    /* line 287, ../scss/layout.scss */
    #content .draft-content-end .draft-left .draft-icon, #content .draft-content-end .draft-right .draft-icon {
      font-size: 18px;
      padding-right: 2px; }
  /* line 294, ../scss/layout.scss */
  #content .draft-content-end .draft-left .draft-link {
    font-weight: bold;
    color: #444; }
  /* line 298, ../scss/layout.scss */
  #content .draft-content-end .draft-left .draft-link:hover {
    color: #fb7d20; }
  /* line 300, ../scss/layout.scss */
  #content .draft-content-end .draft-right {
    margin-left: 20px; }
  /* line 309, ../scss/layout.scss */
  #content .price-link {
    margin-top: 25px;
    margin-bottom: 0;
    list-style: none;
    padding: 0; }
    /* line 314, ../scss/layout.scss */
    #content .price-link li {
      float: left;
      width: 174px;
      margin-left: 18px;
      text-align: center; }
      /* line 319, ../scss/layout.scss */
      #content .price-link li a {
        background: transparent url("../img/content/price_link.jpg") no-repeat 0 0 scroll;
        display: inline-block;
        height: 44px;
        width: 174px;
        padding-top: 14px;
        color: #3a3a3a;
        font-size: 16px;
        font-weight: bold; }
        /* line 330, ../scss/layout.scss */
        #content .price-link li a:hover {
          color: #fb7d20; }
    /* line 334, ../scss/layout.scss */
    #content .price-link li:first-child {
      margin-left: 0; }
  /* line 337, ../scss/layout.scss */
  #content .price-subtitle {
    background: transparent url("../img/content/price_subtitle.jpg") no-repeat 0 0 scroll;
    line-height: 35px;
    padding-left: 46px;
    margin: 21px 0 25px;
    color: white;
    font-size: 16px;
    font-weight: bold; }
  /* line 349, ../scss/layout.scss */
  #content .price-table {
    width: 100%;
    border-collapse: separate;
    border: 3px solid #E4E4E4;
    border-spacing: 0; }
    /* line 355, ../scss/layout.scss */
    #content .price-table tr th {
      border-bottom: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      padding: 12px 0;
      text-align: left;
      padding-left: 15px;
      font-size: 14px;
      font-weight: bold; }
    /* line 366, ../scss/layout.scss */
    #content .price-table tr td {
      width: 119px;
      border-bottom: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background-color: #FBFBFB;
      padding: 12px 15px;
      text-align: right; }
    /* line 374, ../scss/layout.scss */
    #content .price-table tr td:last-child {
      border-right: none; }
    /* line 377, ../scss/layout.scss */
    #content .price-table tr:first-child th {
      border-bottom: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background-color: #F1EFED;
      text-align: center;
      padding: 12px 0;
      font-size: 14px;
      font-weight: bold; }
    /* line 388, ../scss/layout.scss */
    #content .price-table tr:first-child th:first-child {
      background-color: white; }
  /* line 398, ../scss/layout.scss */
  #content .work-content {
    margin-top: -5px; }
    /* line 400, ../scss/layout.scss */
    #content .work-content .work-left {
      width: 300px;
      float: left;
      border: 3px solid #E4E4E4; }
    /* line 405, ../scss/layout.scss */
    #content .work-content .work-right {
      float: left;
      margin-left: 25px;
      width: 417px; }
      /* line 409, ../scss/layout.scss */
      #content .work-content .work-right .work-subtitle {
        background: transparent url("../img/content/price_subtitle.jpg") no-repeat 0 0 scroll;
        line-height: 35px;
        padding-left: 46px;
        color: white;
        font-size: 16px;
        font-weight: bold; }
      /* line 419, ../scss/layout.scss */
      #content .work-content .work-right .work-table {
        width: 100%;
        border-collapse: separate;
        border: 3px solid #E4E4E4;
        border-spacing: 0; }
        /* line 425, ../scss/layout.scss */
        #content .work-content .work-right .work-table tr th {
          width: 84px;
          border-bottom: 1px solid #E4E4E4;
          border-right: 1px solid #E4E4E4;
          background-color: white;
          padding-left: 15px;
          text-align: left;
          font-size: 14px;
          font-weight: bold; }
        /* line 437, ../scss/layout.scss */
        #content .work-content .work-right .work-table tr td {
          background-color: #FBFBFB;
          padding: 11px 10px;
          border-bottom: 1px solid #E4E4E4; }
        /* line 443, ../scss/layout.scss */
        #content .work-content .work-right .work-table tr:last-child th, #content .work-content .work-right .work-table tr:last-child td {
          border-bottom: none; }
  /* line 448, ../scss/layout.scss */
  #content .work-info-last {
    margin-top: 20px;
    line-height: 1.8em; }
  /* line 457, ../scss/layout.scss */
  #content .wpcf7 input, #content .wpcf7 select, #content .wpcf7 textarea {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    font-size: 15px;
    line-height: normal; }
  /* line 465, ../scss/layout.scss */
  #content .wpcf7 select {
    width: 250px;
    font-size: 14px;
    line-height: 1.5em; }
  /* line 470, ../scss/layout.scss */
  #content .wpcf7 .contact-btn {
    margin-top: 20px;
    background-color: #F1EFED;
    padding: 18px 0;
    text-align: center;
    -webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  /* line 480, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-confirm {
    background: transparent url("../img/content/confirm_btn.jpg") no-repeat 0 0 scroll;
    width: 432px;
    height: 64px;
    text-indent: -9999px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: none !important; }
  /* line 491, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-submit, #content .wpcf7 .wpcf7-back {
    width: 310px;
    height: 54px;
    border: 1px solid #C46200;
    background-color: #FF7F00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-weight: bold; }
  /* line 505, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-confirm:hover, #content .wpcf7 .wpcf7-submit:hover, #content .wpcf7 .wpcf7-back:hover {
    opacity: 0.7; }
  /* line 509, ../scss/layout.scss */
  #content span.wpcf7-list-item {
    margin-left: 1.4em; }
  /* line 510, ../scss/layout.scss */
  #content span.wpcf7-list-item:first-child {
    margin-left: 0; }
  /* line 511, ../scss/layout.scss */
  #content span.wpcf7-list-item-label {
    margin-left: -5px; }
  /* line 516, ../scss/layout.scss */
  #content .pen-top-left {
    float: left;
    width: 480px; }
    /* line 519, ../scss/layout.scss */
    #content .pen-top-left #mainalbum {
      float: left;
      width: 480px;
      margin-bottom: 15px; }
    /* line 524, ../scss/layout.scss */
    #content .pen-top-left #mainalbum img {
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -ms-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s; }
    /* line 531, ../scss/layout.scss */
    #content .pen-top-left #mainalbum img:hover {
      cursor: pointer;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
    /* line 539, ../scss/layout.scss */
    #content .pen-top-left #mainalbum span {
      border: 3px solid #D6D6D6;
      display: block;
      overflow: hidden; }
    /* line 546, ../scss/layout.scss */
    #content .pen-top-left #subalbum ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 550, ../scss/layout.scss */
      #content .pen-top-left #subalbum ul li {
        margin-right: 8px;
        display: inline-block; }
        /* line 553, ../scss/layout.scss */
        #content .pen-top-left #subalbum ul li .thumb {
          border: 2px solid #D6D6D6;
          cursor: pointer;
          width: 107px;
          height: 66px; }
    /* line 563, ../scss/layout.scss */
    #content .pen-top-left #subalbum ul li:last-child {
      margin-right: 0; }
  /* line 567, ../scss/layout.scss */
  #content .pen-top-right {
    float: left;
    margin-left: 30px;
    width: 240px; }
    /* line 571, ../scss/layout.scss */
    #content .pen-top-right .pen-ttable-title {
      background: transparent url("../img/content/pen_ttable_title.jpg") no-repeat 0 0 scroll;
      line-height: 35px;
      color: white;
      padding-left: 46px;
      font-size: 16px;
      font-weight: bold; }
    /* line 581, ../scss/layout.scss */
    #content .pen-top-right .pen-ttable {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0; }
      /* line 586, ../scss/layout.scss */
      #content .pen-top-right .pen-ttable tr th, #content .pen-top-right .pen-ttable tr td {
        border: 1px solid #E4E4E4;
        font-size: 12px; }
      /* line 590, ../scss/layout.scss */
      #content .pen-top-right .pen-ttable tr th {
        background-color: white;
        font-weight: bold;
        width: 66px;
        padding-left: 11px;
        text-align: left; }
      /* line 597, ../scss/layout.scss */
      #content .pen-top-right .pen-ttable tr td {
        background-color: #FBFBFB;
        line-height: 1.5em;
        padding: 5px 10px; }
        /* line 601, ../scss/layout.scss */
        #content .pen-top-right .pen-ttable tr td .icon {
          font-size: 15px; }
  /* line 607, ../scss/layout.scss */
  #content .pen-estimate-btn {
    background-color: #F1EFED;
    padding: 18px 0;
    text-align: center;
    -webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  /* line 617, ../scss/layout.scss */
  #content .pen-content1-text {
    padding-left: 25px; }
  /* line 618, ../scss/layout.scss */
  #content .pen-content1-table {
    margin-top: 30px;
    width: 100%;
    border-collapse: separate;
    border: 3px solid #E8E4E1;
    border-spacing: 0; }
    /* line 625, ../scss/layout.scss */
    #content .pen-content1-table tr:first-child th {
      border-bottom: 1px solid #E8E4E1;
      border-right: 1px solid #E8E4E1;
      background-color: #285C5B;
      text-align: center;
      padding: 9px 0;
      color: white;
      font-size: 18px;
      font-weight: bold; }
    /* line 637, ../scss/layout.scss */
    #content .pen-content1-table tr:first-child th:first-child {
      background-color: #183837; }
    /* line 642, ../scss/layout.scss */
    #content .pen-content1-table tr th {
      width: 147px;
      border-bottom: 1px solid #E8E4E1;
      border-right: 1px solid #E8E4E1;
      background-color: #F1EFED;
      padding: 14px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold; }
    /* line 654, ../scss/layout.scss */
    #content .pen-content1-table tr th.second {
      background-color: #E8E4E1; }
    /* line 657, ../scss/layout.scss */
    #content .pen-content1-table tr td {
      border-bottom: 1px solid #E8E4E1;
      border-right: 1px solid #E8E4E1;
      padding: 14px 20px;
      background-color: white;
      text-align: right; }
    /* line 664, ../scss/layout.scss */
    #content .pen-content1-table tr td:last-child {
      border-right: none; }
  /* line 668, ../scss/layout.scss */
  #content .pen-content2 {
    /* .pen-con2-left */ }
    /* line 669, ../scss/layout.scss */
    #content .pen-content2 .pen-con2-left, #content .pen-content2 .pen-con2-right {
      border: 5px solid #E4E4E4;
      float: left;
      width: 355px; }
      /* line 673, ../scss/layout.scss */
      #content .pen-content2 .pen-con2-left .pen-con2-top, #content .pen-content2 .pen-con2-right .pen-con2-top {
        height: 77px;
        padding: 15px 20px;
        background-color: white; }
        /* line 677, ../scss/layout.scss */
        #content .pen-content2 .pen-con2-left .pen-con2-top .pen-con2-step, #content .pen-content2 .pen-con2-right .pen-con2-top .pen-con2-step {
          background: transparent url("../img/content/pen_con2_step.png") no-repeat 0 0 scroll;
          line-height: 25px;
          padding-left: 34px;
          color: white;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: bold; }
        /* line 688, ../scss/layout.scss */
        #content .pen-content2 .pen-con2-left .pen-con2-top .pen-con2-title, #content .pen-content2 .pen-con2-right .pen-con2-top .pen-con2-title {
          font-size: 18px;
          font-weight: bold; }
          /* line 693, ../scss/layout.scss */
          #content .pen-content2 .pen-con2-left .pen-con2-top .pen-con2-title span, #content .pen-content2 .pen-con2-right .pen-con2-top .pen-con2-title span {
            color: #F11F1F; }
      /* line 696, ../scss/layout.scss */
      #content .pen-content2 .pen-con2-left .pen-con2-text, #content .pen-content2 .pen-con2-right .pen-con2-text {
        height: 60px;
        padding: 15px 20px;
        background-color: #F1EFED;
        font-size: 12px; }
      /* line 702, ../scss/layout.scss */
      #content .pen-content2 .pen-con2-left .pen-con2-text14, #content .pen-content2 .pen-con2-right .pen-con2-text14 {
        height: 58px;
        padding: 15px 20px;
        background-color: #F1EFED;
        font-size: 14px; }
    /* line 710, ../scss/layout.scss */
    #content .pen-content2 .pen-con2-right {
      margin-left: 20px; }
  /* line 716, ../scss/layout.scss */
  #content .pen-estimate-title {
    border: 1px solid #4E92E4;
    background-color: #1D6CCA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 35px 0 30px;
    padding: 15.5px 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold; }
    /* line 728, ../scss/layout.scss */
    #content .pen-estimate-title .fa {
      padding-right: 10px; }
  /* line 733, ../scss/layout.scss */
  #content .estimation-table1 {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: separate;
    border: 4px solid #1E6DCA;
    border-spacing: 0; }
    /* line 740, ../scss/layout.scss */
    #content .estimation-table1 tr th {
      width: 30%;
      border-bottom: 1px solid #E3E3E3;
      text-align: left;
      background-color: #F5F5F5;
      padding: 10px 20px;
      vertical-align: middle; }
      /* line 747, ../scss/layout.scss */
      #content .estimation-table1 tr th .require, #content .estimation-table1 .estimation-table2 tr th .arbitrarily, #content .estimation-table2 .estimation-table1 tr th .arbitrarily {
        float: right;
        width: 35px;
        line-height: 18px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #FF5151;
        color: white;
        font-size: 11px;
        font-weight: bold; }
    /* line 761, ../scss/layout.scss */
    #content .estimation-table1 tr td {
      border-bottom: 1px solid #E3E3E3;
      padding: 25px 0 25px 20px;
      vertical-align: middle; }
      /* line 765, ../scss/layout.scss */
      #content .estimation-table1 tr td .numclr-text {
        font-size: 12px; }
    /* line 768, ../scss/layout.scss */
    #content .estimation-table1 tr:last-child th, #content .estimation-table1 tr:last-child td {
      border-bottom: none; }
  /* line 771, ../scss/layout.scss */
  #content .estimation-table2 {
    width: 100%;
    border-collapse: separate;
    border: 4px solid #1E6DCA;
    border-spacing: 0; }
    /* line 777, ../scss/layout.scss */
    #content .estimation-table2 tr th {
      width: 30%;
      border-bottom: 1px solid #E3E3E3;
      text-align: left;
      background-color: #F5F5F5;
      padding: 10px 20px;
      vertical-align: middle; }
      /* line 784, ../scss/layout.scss */
      #content .estimation-table2 tr th .require, #content .estimation-table2 tr th .arbitrarily {
        float: right;
        width: 35px;
        line-height: 18px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #FF5151;
        color: white;
        font-size: 11px;
        font-weight: bold; }
      /* line 797, ../scss/layout.scss */
      #content .estimation-table2 tr th .arbitrarily {
        background-color: #aaa; }
    /* line 802, ../scss/layout.scss */
    #content .estimation-table2 tr td {
      padding: 25px 0 25px 20px;
      border-bottom: 1px solid #E3E3E3;
      vertical-align: middle; }
    /* line 808, ../scss/layout.scss */
    #content .estimation-table2 tr:last-child th, #content .estimation-table2 tr:last-child td {
      border-bottom: none; }
  /* line 813, ../scss/layout.scss */
  #content .othergoods-top-left {
    float: left;
    width: 357px; }
    /* line 816, ../scss/layout.scss */
    #content .othergoods-top-left #mainalbum {
      float: left;
      width: 357px;
      margin-bottom: 15px; }
    /* line 821, ../scss/layout.scss */
    #content .othergoods-top-left #mainalbum img {
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -ms-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s; }
    /* line 828, ../scss/layout.scss */
    #content .othergoods-top-left #mainalbum img:hover {
      cursor: pointer;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
    /* line 836, ../scss/layout.scss */
    #content .othergoods-top-left #mainalbum span {
      border: 3px solid #D6D6D6;
      display: block;
      overflow: hidden; }
    /* line 843, ../scss/layout.scss */
    #content .othergoods-top-left #subalbum ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 847, ../scss/layout.scss */
      #content .othergoods-top-left #subalbum ul li {
        margin-right: 8px;
        display: inline-block; }
        /* line 850, ../scss/layout.scss */
        #content .othergoods-top-left #subalbum ul li .thumb {
          border: 2px solid #D6D6D6;
          cursor: pointer;
          width: 107px;
          height: 66px; }
    /* line 860, ../scss/layout.scss */
    #content .othergoods-top-left #subalbum ul li:last-child {
      margin-right: 0; }
  /* line 863, ../scss/layout.scss */
  #content .othergoods-top-right {
    float: left;
    margin-left: 28px;
    width: 365px; }
  /* line 872, ../scss/layout.scss */
  #content .guide-top-text {
    padding-left: 22px;
    margin-bottom: 32px; }
  /* line 880, ../scss/layout.scss */
  #content .support-status {
    background: transparent url("../img/content/support_title.png") no-repeat 0 0 scroll;
    height: 61px;
    padding-top: 104px;
    padding-left: 42px;
    color: white;
    font-size: 35px;
    font-weight: bold; }
  /* line 892, ../scss/layout.scss */
  #content .support-content {
    margin-top: 20px;
    background: url("../img/content/support_bg.jpg") repeat 0 0 scroll;
    padding: 23px;
    -webkit-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -moz-box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    box-shadow: inset 2px 2px 3px 0px #d9d8d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    /* line 901, ../scss/layout.scss */
    #content .support-content .support-info-top .support-left, #content .support-content .support-info-end .support-left {
      width: 95px;
      float: left; }
    /* line 905, ../scss/layout.scss */
    #content .support-content .support-info-top .support-right, #content .support-content .support-info-end .support-right {
      margin-left: 10px;
      width: 555px;
      float: left;
      background-color: white; }
    /* line 912, ../scss/layout.scss */
    #content .support-content .support-info-top {
      margin-bottom: 20px; }
      /* line 915, ../scss/layout.scss */
      #content .support-content .support-info-top .support-right {
        padding: 17px 22px;
        font-size: 23px;
        font-weight: bold; }
    /* line 925, ../scss/layout.scss */
    #content .support-content .support-info-end .support-right {
      padding: 20px 22px; }
  /* line 932, ../scss/layout.scss */
  #content .about-content1-top {
    background: transparent url("../img/content/about_content1_img.jpg") no-repeat 0 0 scroll;
    height: 380px;
    position: relative; }
    /* line 936, ../scss/layout.scss */
    #content .about-content1-top .about-tcon1-title1 {
      position: absolute;
      top: 55px;
      left: 30px;
      line-height: 1.4em;
      font-size: 24px;
      font-weight: bold; }
    /* line 946, ../scss/layout.scss */
    #content .about-content1-top .about-tcon1-title2 {
      position: absolute;
      top: 135px;
      left: 30px;
      color: white;
      text-transform: uppercase; }
    /* line 953, ../scss/layout.scss */
    #content .about-content1-top .about-tcon1-text {
      position: absolute;
      bottom: 15px;
      left: 262px;
      right: 20px;
      font-size: 12px;
      color: white;
      line-height: 1.5em; }
  /* line 963, ../scss/layout.scss */
  #content .about-content1-text {
    padding: 25px 20px 0 20px; }
  /* line 965, ../scss/layout.scss */
  #content .about-content2-top {
    background: transparent url("../img/content/about_content2_top.jpg") no-repeat 0 0 scroll;
    height: 255px;
    position: relative; }
    /* line 969, ../scss/layout.scss */
    #content .about-content2-top .about-tcon2-title {
      position: absolute;
      top: 40px;
      left: 60px;
      color: #FFFF00;
      font-size: 27px;
      font-weight: bold; }
    /* line 979, ../scss/layout.scss */
    #content .about-content2-top .about-tcon2-text {
      position: absolute;
      top: 113px;
      left: 60px;
      width: 250px;
      color: white; }
  /* line 988, ../scss/layout.scss */
  #content .about-content2 {
    padding: 40px;
    background-color: #285C5B; }
    /* line 992, ../scss/layout.scss */
    #content .about-content2 .about-con2-left .about-c2l-img, #content .about-content2 .about-con2-right .about-c2l-img {
      text-align: center; }
    /* line 993, ../scss/layout.scss */
    #content .about-content2 .about-con2-left .about-c2l-text, #content .about-content2 .about-con2-right .about-c2l-text {
      color: white;
      padding-top: 20px; }
    /* line 998, ../scss/layout.scss */
    #content .about-content2 .about-con2-left {
      width: 315px;
      float: left; }
    /* line 1003, ../scss/layout.scss */
    #content .about-content2 .about-con2-right {
      width: 315px;
      float: left;
      margin-left: 40px; }
  /* line 1011, ../scss/layout.scss */
  #content .about-content3 {
    /* .about-con3-info */ }
    /* line 1012, ../scss/layout.scss */
    #content .about-content3 .about-con3-img {
      float: left; }
    /* line 1015, ../scss/layout.scss */
    #content .about-content3 .about-con3-info {
      float: right;
      width: 150px;
      height: 160px;
      padding: 20px;
      background-color: #F1EFED; }
      /* line 1021, ../scss/layout.scss */
      #content .about-content3 .about-con3-info .about-con3-point {
        background: transparent url("../img/content/pen_con2_step.png") no-repeat 0 0 scroll;
        line-height: 25px;
        padding-left: 34px;
        color: white;
        font-size: 14px;
        font-weight: bold; }
      /* line 1031, ../scss/layout.scss */
      #content .about-content3 .about-con3-info .about-con3-title {
        padding: 10px 0 5px;
        color: #F11F1F;
        font-size: 18px;
        font-weight: bold; }
      /* line 1039, ../scss/layout.scss */
      #content .about-content3 .about-con3-info .about-con3-text {
        font-size: 12px; }
  /* line 1044, ../scss/layout.scss */
  #content .about-content4 {
    padding: 0 20px;
    /* .about-con4-table */ }
    /* line 1046, ../scss/layout.scss */
    #content .about-content4 .about-con4-title {
      background: transparent url("../img/content/about_content4_subtitle.jpg") no-repeat 0 0 scroll;
      line-height: 42px;
      padding-left: 20px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold; }
    /* line 1056, ../scss/layout.scss */
    #content .about-content4 .about-con4-text {
      margin-bottom: 28px; }
    /* line 1058, ../scss/layout.scss */
    #content .about-content4 .about-con4-table {
      margin-top: 30px;
      width: 100%;
      border-collapse: separate;
      border: 3px solid #E8E4E1;
      border-spacing: 0; }
      /* line 1065, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr th {
        width: 280px;
        border-bottom: 1px solid #E8E4E1;
        border-right: 1px solid #E8E4E1;
        background-color: #F1EFED;
        padding: 14px 0;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
      /* line 1077, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr th:first-child {
        width: 151px; }
      /* line 1078, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr th.about-con4-clr {
        background-color: #E8E4E1; }
      /* line 1081, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr td {
        border-bottom: 1px solid #E8E4E1;
        border-right: 1px solid #E8E4E1;
        padding: 20px 12px;
        background-color: white; }
      /* line 1088, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr td:last-child {
        border-right: none; }
      /* line 1091, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr:first-child th {
        border-bottom: 1px solid #E8E4E1;
        border-right: 1px solid #E8E4E1;
        background-color: #285C5B;
        text-align: center;
        padding: 9px 0;
        color: white;
        font-size: 18px;
        font-weight: bold; }
      /* line 1103, ../scss/layout.scss */
      #content .about-content4 .about-con4-table tr:first-child th:first-child {
        background-color: #183837;
        width: 150px; }
  /* line 1113, ../scss/layout.scss */
  #content .privacy-content {
    margin-bottom: 27px; }
  /* line 1119, ../scss/layout.scss */
  #content .company-table {
    border-collapse: separate;
    border: 3px solid #E4E4E4;
    border-spacing: 0;
    width: 100%; }
    /* line 1125, ../scss/layout.scss */
    #content .company-table tr th {
      width: 151px;
      border-bottom: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background-color: white;
      padding-left: 15px;
      text-align: left;
      font-size: 14px;
      font-weight: bold; }
    /* line 1138, ../scss/layout.scss */
    #content .company-table tr td {
      padding: 13px;
      border-bottom: 1px solid #E4E4E4;
      background-color: #FBFBFB; }
    /* line 1145, ../scss/layout.scss */
    #content .company-table tr:last-child th, #content .company-table tr:last-child td {
      border-bottom: none; }
  /* line 1148, ../scss/layout.scss */
  #content .companymap {
    border: 3px solid #E4E4E4; }
  /* line 1153, ../scss/layout.scss */
  #content .blog-subtitle {
    background: transparent url("../img/content/blog_subtitle.jpg") no-repeat 0 0 scroll;
    line-height: 48px;
    margin-bottom: 25px;
    padding-left: 25px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold; }
  /* line 1166, ../scss/layout.scss */
  #content .post-row-content .blog-btnrm {
    float: right;
    padding: 3px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f12121; }
    /* line 1171, ../scss/layout.scss */
    #content .post-row-content .blog-btnrm a {
      color: white; }
    /* line 1174, ../scss/layout.scss */
    #content .post-row-content .blog-btnrm a:hover {
      opacity: 0.5; }
  /* line 1179, ../scss/layout.scss */
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  /* line 1182, ../scss/layout.scss */
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  /* line 1187, ../scss/layout.scss */
  #content .post-row-content .blog-content, #content .post-row-content .post-row-description {
    margin-top: 10px; }
  /* line 1190, ../scss/layout.scss */
  #content .navigation {
    margin-top: 20px;
    margin-bottom: 60px; }
    /* line 1193, ../scss/layout.scss */
    #content .navigation a {
      color: #f12121; }
    /* line 1194, ../scss/layout.scss */
    #content .navigation a:hover {
      text-decoration: underline; }
  /* line 1199, ../scss/layout.scss */
  #content .wp-pagenavi {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center; }
    /* line 1203, ../scss/layout.scss */
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #f12121;
      color: #fff; }
    /* line 1216, ../scss/layout.scss */
    #content .wp-pagenavi span.current {
      border-color: #f12121 !important; }
  /* line 1221, ../scss/layout.scss */
  #content #category {
    margin-bottom: 100px; }

/* #content */
